.card-radius{
    border-radius: 10px ;
    height: 300px;
    /* margin-top: -15px; */
}
.card-bold{
    font-weight: bold;
}
.papading{
    padding: 3px;
    vertical-align:middle
}

.canvasChart{
    height: 220px;
}

.lblNumRel{
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-device-width: 1550px) {
    .card-bold {
        font-size: 15px;
    }
}

@media only screen and (max-device-width: 1300px) {
    .card-bold {
        font-size: 15px;
    }
}

@media only screen and (max-device-width: 489px) {
    .lblNumRel{
        font-weight: bold;
        font-size: 17px;
    }
}