.card-radius{
    border-radius: 10px ;
    height: 300px;
    /* margin-top: -15px; */
}
.card-bold{
    font-weight: bold;
}
.papading{
    padding: 3px;
    vertical-align:middle
}



.lblNumRel{
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-device-width: 3550px){
    .card-bold {
        font-size: 15px;
    }
    .canvasChart{
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media only screen and (max-device-width: 1650px) {
    .card-bold {
        font-size: 15px;
    }
    .canvasChart{
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media only screen and (max-device-width: 1550px) {
    .card-bold {
        font-size: 15px;
    }
    .canvasChart{
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media only screen and (max-device-width: 1300px) {
    .card-bold {
        font-size: 15px;
    }
    .canvasChart{
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media only screen and (max-device-width: 1199px) {
    .card-bold {
        font-size: 15px;
    }
    .canvasChart{
        padding-right: 30%;
        padding-left: 30%;
    }
}

@media only screen and (max-device-width: 900px) {
    .card-bold {
        font-size: 15px;
    }
    .canvasChart{
        padding-right: 25%;
        padding-left: 25%;
    }
}

@media only screen and (max-device-width: 700px) {
    .card-bold {
        font-size: 15px;
    }
    .canvasChart{
        padding-right: 15%;
        padding-left: 15%;
    }
}


@media only screen and (max-device-width: 489px) {
    .lblNumRel{
        font-weight: bold;
        font-size: 17px;
    }
    .canvasChart{
        padding-right: 0px;
        padding-left: 0px;
    }
}