<style>
  .card-radius{
    border-radius: 10px ;
  }
  .card-bold{
    font-weight: bold;
  }
</style>
<div class="card card-radius">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
          <div class="col">
              <p class="text-left card-bold">Relevante</p>
          </div>
          <div class="col">
            <p *ngIf='relevante' class="text-right card-bold">{{ relevante.encabezadoPeriodo }}</p>
          </div>
      </div>
    </div>
    <table class="table table-hover" style="margin-left: 10px; margin-right: 10px;">
        <tbody *ngIf='relevante'>
          <tr>
            <td>Fuera de Línea</td>
            <th scope="row"><h1>{{ relevante.numEspecialistasFL }} / {{ relevante.numEspecialistas }}</h1></th>
            <td>Especialistas</td>
          </tr>
          <tr>
            <td>Prospectos</td>
            <th scope="row"><h1>{{ relevante.numEspecialistasProsp }} / {{ relevante.numEspecialistas }}</h1></th>
            <td>Especialistas</td>
          </tr>
          <tr>
            <td>Investigación</td>
            <th scope="row"><h1>{{ relevante.numEspecialistasMR }} / {{ relevante.numEspecialistas }}</h1></th>
            <td>Especialistas en Riesgo</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>