<div *ngIf="!loadPage" class="card card-radius">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
          <div class="col">
              <p class="text-left card-bold">Relevante</p>
          </div>
          <div class="col">
      <p *ngIf='relevante' class="text-right card-bold"> {{ relevante.numEspecialistas }}  Especialistas</p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col canvasChart">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="pieChartColors">
        </canvas>
      </div>
    </div>
    <!-- <table class="table table-hover" style="margin-left: 10px; margin-right: 10px;">
        <tbody *ngIf='relevante'>
          <tr>
            <td class="papading">Fuera de Línea</td>
            <td class="papading"><label class="lblNumRel">{{ relevante.numEspecialistasFL }}/{{ relevante.numEspecialistas }}</label></td>
            <td class="papading">Especialistas</td>
          </tr>
          <tr>
            <td class="papading">Prospectos</td>
            <td class="papading"><label class="lblNumRel">{{ relevante.numEspecialistasProsp }}/{{ relevante.numEspecialistas }}</label></td>
            <td class="papading">Especialistas</td>
          </tr>
          <tr>
            <td class="papading">Investigación</td>
            <td class="papading"><label class="lblNumRel">{{ relevante.numEspecialistasMR }}/{{ relevante.numEspecialistas }}</label></td>
            <td class="papading">Especialistas en Riesgo</td>
          </tr>
        </tbody>
      </table> -->
  </div>
</div>