<div class="container-fluid p-4" style="background-color: #F2F2F2;">
    <app-nav-bar [seccionActiva]="1"></app-nav-bar>
    <app-header-pizarron-digital></app-header-pizarron-digital>
    <div class="row" style="margin-top: 20px;">
        <div class="col-12" style="padding: 0px;">
            <div class="card card-radius">
                <div class="card-body">
                    <div class="row" *ngIf="plantilla">
                        <div class="col-12 col col-lg-3" *ngFor="let esp of plantilla">
                            <div class="card cardEspecialista">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 col-md-4">
                                            <img [ngStyle]="{'border-color': esp.colorIndicadorMeta}" class="imgFoto rounded-circle" src="{{ esp.foto }}">
                                        </div>
                                        <div class="col-8 col-md-8">
                                            {{ esp.nombre }}<br /><span class="font-weight-bold">{{ esp.apellidos }}</span><br />
                                            <div class="progress">
                                                <div [ngStyle]="{'width': esp.porcentajeSaldoVirtualDesc}" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div> 
                                                <div [ngStyle]="{'width': (porcentajeSaldoAcumuladoDesc(esp.porcentajeSaldoAcumulado, esp.porcentajeSaldoVirtual)) }" class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="font-weight-bold text-center">{{ esp.porcentajeSaldoVirtualDesc }}</p>
                                        </div>
                                    </div>
                                    <div class="row text-center mt-2">
                                        <div class="col-4 col-md-4">
                                            <span class="font-weight-bold">{{ removeDecimals(esp.saldoAcumulado) }}</span><br /><span style="font-size: 13px;">Saldo Acumulado</span>
                                        </div>
                                        <div class="col-4 col-md-4 border-left">
                                            <span class="font-weight-bold">{{ esp.fctInactivos }}</span><br /><span style="font-size: 13px;">Trámites FCT</span>
                                        </div>
                                        <div class="col-4 col-md-4 border-left">
                                            <span class="font-weight-bold">{{ esp.tramitesCertificados }}</span><br /><span style="font-size: 13px;">Total Traspasos</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>