.card-radius{
    border-radius: 10px;
}
.cardEspecialista {
    margin-top: 15px;
    border-radius: 14px;
    box-shadow: 0px 5px 10px #0F215929;
}
.imgFoto{
    width: 90px;
    height: 90px;
    border: solid 4px;
}
.card-body{
    padding: 10px;
}

@media (max-width: 1200px) {
    .imgFoto{
        width: 75px;
        height: 75px;
    }
}
@media (max-width: 900px) {
    .imgFoto{
        width: 70px;
        height: 70px;
    }
}
@media only screen and (max-device-width: 480px) {
    .imgFoto{
        width: 90px;
        height: 90px;
    }
}