.card-radius{
    border-radius: 10px ;
    height: 300px;
    /* margin-top: -15px; */
}
.papading{
    padding: 3px;
    vertical-align:middle
}
.valores{
    background-color: #F5F5F5;
    color: #4D4D4D;
    width: 55px;
}