<div class="card card-radius">
    <div class="card-body">
        <div class="row">
            <div class="col col-lg-4">
                <p class="card-title font-weight-bold">Comisión Estimada</p>
            </div>
            <div class="col col-lg-8"></div>
        </div>
        <div class="row mt-4 font-weight-bold">
            <div class="col-2">Proyección Saldo</div>
            <div class="col"><span class="align-middle">$0M</span></div>
            <span class="border spanMargin"></span>
            <div class="col-2">Objetivo Gerente</div>
            <div class="col">$0M</div>
            <span class="border spanMargin"></span>
            <div class="col-2">Mejor Saldo</div>
            <div class="col">$0M</div>
        </div>
        <div class="row mt-4">
            <div class="col-3">Comisión</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$110.3K</span></div>
            <div class="col-3">Comisión</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$0</span></div>
            <div class="col-3">Comisión</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$0</span></div>
        </div>
        <div class="row mt-1">
            <div class="col-3">Bono Excelencia</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$0</span></div>
            <div class="col-3">Bono Excelencia</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$0</span></div>
            <div class="col-3">Bono Excelencia</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$0</span></div>
        </div>
        <div class="row mt-1">
            <div class="col-3">Bono Desarrollo</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$0</span></div>
            <div class="col-3">Bono Desarrollo</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$0</span></div>
            <div class="col-3">Bono Desarrollo</div>
            <div class="col-1"><span class="badge badge-pill badge-secondary valores">$0</span></div>
        </div>
    </div>
</div>