.card-radius{
    border-radius: 10px ;
    height: 300px;
    /* margin-top: -15px; */
}
.papading{
    padding: 3px;
    vertical-align:middle
}
.valores{
    background-color: #F5F5F5;
    color: #4D4D4D;
    width: 70px;
    font-size: 14px;
}
.rowFonts{
    margin: auto;
    font-size: 75%;
    vertical-align: middle;
}

.comisionEstimadaHeader{
    margin-top: 5px;
    font-weight: bold;
    height: 50px;
}

.rowBG{
    margin-top: 20px;
}

.colBorder{
    border-right: solid 1px rgba(227, 230, 240, 0.6) ;
}
.comisionMbDisplay{
    display: none;
}

.rowBG:hover{
    background-color: rgba(227, 230, 240, 0.6);
}
@media only screen and (max-device-width: 1700px) {
    .comisionEstimadaHeader{
        font-size: 13px;        
    }    
}

@media only screen and (max-device-width: 1550px) {
    .comisionEstimadaHeader{
        font-size: 12px;
        padding: 0px;
    }
    .lblHeaders{
        font-size: 14px;
    }
}

@media only screen and (max-device-width: 1300px) {
    .comisionEstimadaHeader{
        font-size: 12px;        
    }
    .rowFonts{
        font-size: 60%;
    }
}

@media only screen and (max-device-width: 489px) {
    .font-weight-bold {
        font-size: 15px;
    }
    .rowBG{
        margin-top: 7px;
    }
    .comisionEstimadaCard{
        height: 570px;
    }
    .comisionEstimadaHeader{
        border-top: solid 1px rgba(227, 230, 240, 0.6) ;
        margin-top: 10px;
        height: 35px;
    }
    .rowFonts{
        font-size: 70%;
    }
    .valores{
        margin-left: 0px;
        width: 70px;
        font-size: 70%;
    }
    .colBorder{
        border-right: none;
    }
    .comisionMbDisplay{
        display: block;
    }
    .comisionWebDisplay{
        display: none;
    }
}