<div  class="row m-4">
   <div class="card col">
        <div class="row">
            <div class="col-lg-3 col-12 p-4" [mdbPopover]="clickImgTemp" 
            placement="bottom" triggers="focus" mdbWavesEffect>
                <div class="row">
                    <div class="col-3 lbl">
                        <p>Avance</p>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-6 lbl">
                                <p>Saldo Virtual</p>
                            </div>
                            <div class="col lblavance">
                                <p *ngIf='barraMetas' class="font-weight-bold">${{ barraMetas.barraAvanceMetas.saldoVirtual }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class=" mx-auto d-block imgPerfil" src="../../../assets/img/img-saldo-virtual.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': barraMetas.barraAvanceMetas.saldoVirtualBar}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col lbl">
                                <p class="font-weight-bold">${{ barraMetas.barraAvanceMetas.objetivoSV }}</p>
                                <p>Objetivo</p>
                            </div>
                            <div class="col lbl">
                                <p class="font-weight-bold">${{ barraMetas.barraAvanceMetas.proyeccion }}</p>
                                <p>Proyección</p>
                            </div>
                        </div>
                        
                    </div>                        
                </div>
            </div>
            <span class="border spanMargin"></span>
            <div class="col-12  col-lg-3 text-center p-4">
                <div class="row">
                    <div class="col-6 lbl">
                        <p>Solicitudes</p>
                    </div>
                    <div class="col lblavance">
                        <p *ngIf='barraMetas' class="font-weight-bold">{{ barraMetas.barraAvanceMetas.solicitudes }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col lbl">
                        <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/img-solicitudes.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': barraMetas.barraAvanceMetas.solicitudesBar}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col lbl">
                                <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.objetivoSol }}</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                        
                    </div>                        
                </div>
            </div>
            <span class="border spanMargin"></span>
            <div class="col-12 col-lg-3 text-center p-4">
                <div class="row">
                    <div class="col-6 lbl">
                        <p>Traspasos FCT</p>
                    </div>
                    <div class="col lblavance">
                        <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.traspasosFCT }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/img-traspasos-fct.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': barraMetas.barraAvanceMetas.traspasosBar}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col lbl">
                                <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.objetivoTra }}</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                        
                    </div>                        
                </div>
            </div>
            <span class="border spanMargin"></span>
            <div class="col text-center p-4">
                <div class="row">
                    <div class="col-9 lbl">
                        <p>Gerencias Productivas</p>
                    </div>
                    <div class="col lblavance">
                        <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.gerenciasProductivas }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/img-gerencias-productivas.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': barraMetas.barraAvanceMetas.gerenciasBar}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col lbl">
                                <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.objetivoGP }}</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                        
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-4">
    <div class="alert alert-danger col p-1" role="alert">
        <div class="row">
            <div class="col-1 offset-md-3">
                <img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/img-mensaje.png" alt="">
            </div>
            <div class="col" style="padding-top: 5px;">
                {{ barraMetas.mensaje }}
            </div>
        </div>
    </div>
</div>
<ng-template #clickImgTemp><div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Saldo Virtual</p>
                </div>
                <div class="col-6">
                    <p>${{ barraMetas.popUpSV.saldoVirtual }}</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Saldo Cantado</p>
                </div>
                <div class="col-6">
                    <p>${{ barraMetas.popUpSV.saldoCantado }}</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Saldo Acumulado</p>
                </div>
                <div class="col-6">
                    <p>${{ barraMetas.popUpSV.saldoAcumulado }}</p>
                </div>
            </div>
        </div>
    </div>
</div></ng-template>