.lbl{
    line-height: 10px;
    font-size: small;
}

.lblavance{
    line-height: 10px;
    font-size: x-large;
    text-align: end;
}

.centercontent{
    margin-top: 5px;
}

.lblCenter{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.lblCenternoBold{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardColorPopOver{
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.cardColorPopOverRed{
    background: #FF1D25 0% 0% no-repeat padding-box;
    color: white;
}