<div  class="row m-3">
   <div class="card card-metas col">
        <div class="row">
            <div class="col-lg-3 col-12 p-3" [mdbPopover]="PopOverSV" placement="bottom" triggers="focus" mdbWavesEffect>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6 lbl">
                                <p>Saldo Acumulado</p>
                            </div>
                            <div class="col-6 lblavance">
                                <p *ngIf='barraMetas' class="font-weight-bold">${{ barraMetas.barraAvanceMetas.saldoVirtual }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img class=" mx-auto d-block imgPerfil" src="assets/img/img-saldo-virtual.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': barraMetas.barraAvanceMetas.saldoVirtualBar}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col lbl-small">
                                <p class="font-weight-bold">${{ barraMetas.barraAvanceMetas.objetivoSV }}</p>
                                <p>Objetivo</p>
                            </div>
                            <div class="col lbl-small">
                                <p class="font-weight-bold">${{ barraMetas.barraAvanceMetas.proyeccion }}</p>
                                <p>Proyección</p>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
            <span class="border spanMargin"></span>
            <div class="col-12  col-lg-3 p-3" [mdbPopover]="PopOverSol" placement="bottom" triggers="focus" mdbWavesEffect>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6 lbl">
                                <p>Solicitudes</p>
                            </div>
                            <div class="col-6 lblavance">
                                <p *ngIf='barraMetas' class="font-weight-bold">{{ barraMetas.barraAvanceMetas.solicitudes }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img class=" mx-auto d-block imgPerfil" src="assets/img/img-solicitudes.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': barraMetas.barraAvanceMetas.solicitudesBar}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col lbl-small">
                                <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.objetivoSol }}</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                    </div>                        
                </div>                
            </div>
            <span class="border spanMargin"></span>
            <div class="col-12 col-lg-3 p-3" [mdbPopover]="PopOverFCT" 
            placement="bottom" triggers="focus" mdbWavesEffect>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6 lbl">
                                <p>Traspasos FCT</p>
                            </div>
                            <div class="col-6 lblavance">
                                <p *ngIf='barraMetas' class="font-weight-bold">{{ barraMetas.barraAvanceMetas.traspasosFCT }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img class=" mx-auto d-block imgPerfil" src="assets/img/img-traspasos-fct.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': barraMetas.barraAvanceMetas.traspasosBar}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col lbl-small">
                                <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.objetivoTra }}</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                    </div>                        
                </div>  
            </div>
            <span class="border spanMargin"></span>
            <div class="col p-3">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-8 lbl">
                                <p>Gerencias Productivas</p>
                            </div>
                            <div class="col-4 lblavance">
                                <p *ngIf='barraMetas' class="font-weight-bold">{{ barraMetas.barraAvanceMetas.gerenciasProductivas }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img class=" mx-auto d-block imgPerfil" src="assets/img/img-gerencias-productivas.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': barraMetas.barraAvanceMetas.gerenciasBar}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col lbl-small">
                                <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.objetivoGP }}</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                    </div>                        
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="row m-3 mensaje">
    <div class="alert alert-danger col p-0" role="alert">
        <div class="row">
            <div class="col-1 offset-md-3">
                <img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="assets/img/img-mensaje.png" alt="">
            </div>
            <div class="col" style="padding-top: 5px; padding-bottom: 5px;">
                {{ barraMetas.mensaje }}
            </div>
        </div>
    </div>
</div>
<ng-template #PopOverSV><div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <img width="50px" height="50px" class="rounded-circle" src="{{ login.usuarioData.foto }}" alt="">
                </div>
                <div class="col-8">
                    <p class="labelNombre">{{login.usuarioData.nombre}}</p>
                    <p class="labelApellido">{{login.usuarioData.apellidoPaterno}}</p>
                    <p class="labelSucursal">{{login.usuarioData.coordinacion}}</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin: 0px; padding: 0px;">
            <div class="row" style="padding: 0px;">
                <div class="col-4" style="margin: 0px;">
                    <img  src="assets/img/bolsaAhorro.png">
                </div>
                <div class="col" style="text-align: left;">
                    <p style="margin: 0px; margin-top: 5px; font-size: 10px;">Detalle Saldo</p>
                </div>
            </div>
        </div>
        <span class="border" style="width: 100%;"></span>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Saldo Virtual</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOver">
                        <p class="lblCenter">${{ barraMetas.popUpSV.saldoVirtual }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #80CC0E;"></i>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Saldo Cantado</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOver">
                        <p class="lblCenter">${{ barraMetas.popUpSV.saldoCantado }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #D5D1D6;"></i>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Saldo Acumulado</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOver">
                        <p class="lblCenter">${{ barraMetas.popUpSV.saldoAcumulado }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #000000;"></i>
                </div>
            </div>
        </div>
    </div>
</div></ng-template>

<ng-template #PopOverSol><div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/manosAhorro.png">
                </div>
                <div class="col" style="text-align: center;">
                    <p style="margin-top: 5px;">Solicitudes Comisionables</p>
                </div>
            </div>
        </div>
        <span class="border" style="width: 100%; margin: 10px;"></span>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Registros</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOver">
                        <p class="lblCenter">{{ barraMetas.popUpTraspasos.registros }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #FF9200;"></i>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Traspasos</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOver">
                        <p class="lblCenter">{{ barraMetas.popUpTraspasos.traspasos }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #5AA124;"></i>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>TraspasosFCT</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOver">
                        <p class="lblCenter">{{ barraMetas.popUpTraspasos.traspasosFCT }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #5AA124;"></i>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>Total</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOver">
                        <p class="lblCenter">{{ barraMetas.popUpTraspasos.total }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #5AA124;"></i>
                </div>
            </div>
        </div>
        <span class="border" style="width: 100%; margin: 10px;"></span>
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/manosAhorro.png">
                </div>
                <div class="col" style="text-align: center;">
                    <p style="margin-top: 5px;">Solicitudes No Comisionables</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>{{ barraMetas.popUpTraspasos.mensajeSaldoR }}</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOverRed">
                        <p class="lblCenter" style="color: #FFFFFF;">{{ barraMetas.popUpTraspasos.registrosMenores }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #FF1D25;"></i>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p>{{ barraMetas.popUpTraspasos.mensajeSaldoT }}</p>
                </div>
                <div class="col-4">
                    <div class="card cardColorPopOverRed">
                        <p class="lblCenter" style="color: #FFFFFF;">{{ barraMetas.popUpTraspasos.traspasosMenores }}</p>
                    </div>
                </div>
                <div class="col-1 centercontent">
                    <i class="fas fa-circle" style="color: #FF1D25;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-template>

<ng-template #PopOverFCT>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/img/Ahorro.png">
                    </div>
                    <div class="col" style="text-align: left;">
                        <p style="margin-top: 8px;">Traspasos FCT</p>
                    </div>
                </div>
            </div>
            <span class="border" style="width: 100%; margin: 10px;"></span>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <p>Activos</p>
                    </div>
                    <div class="col-4">
                        <div class="card cardColorPopOver">
                            <p class="lblCenter">{{ barraMetas.popUpFCT.fctActivos }}</p>
                        </div>
                    </div>
                    <div class="col-1 centercontent">
                        <i class="fas fa-circle" style="color: #80CC0E;"></i>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <p>Inactivos</p>
                    </div>
                    <div class="col-4">
                        <div class="card cardColorPopOver">
                            <p class="lblCenter">{{ barraMetas.popUpFCT.fctInactivos }}</p>
                        </div>
                    </div>
                    <div class="col-1 centercontent">
                        <i class="fas fa-circle" style="color: #D5D1D6;"></i>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <p>Cancelados</p>
                    </div>
                    <div class="col-4">
                        <div class="card cardColorPopOverRed">
                            <p class="lblCenter">{{ barraMetas.popUpFCT.fctCancelados }}</p>
                        </div>
                    </div>
                    <div class="col-1 centercontent">
                        <i class="fas fa-circle" style="color: #FF1D25;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
