<div *ngIf='[barraMetas.barraAvanceMetas]' class="row">
    <div class="card col">
        <div class="row">
            <div class="col-lg-3 p-4">
                <div class="row">
                    <div class="col">
                        <p>Avance</p>
                    </div>
                    <div class="col">
                        <p>Saldo Virtual</p>
                    </div>
                    <div class="col">
                        <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.saldoVirtual }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class=" mx-auto d-block imgPerfil" src="../../../assets/img/fotoperfil.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col">
                                <p class="font-weight-bold">$238M</p>
                                <p>Objetivo</p>
                            </div>
                            <div class="col">
                                <p class="font-weight-bold">$223M</p>
                                <p>Proyección</p>
                            </div>
                        </div>
                        
                    </div>                        
                </div>
            </div>
            <span class="border spanMargin"></span>
            <div class="col text-center p-4">
                <div class="row">
                    <div class="col">
                        <p>Solicitudes</p>
                    </div>
                    <div class="col">
                        <p class="font-weight-bold">{{ barraMetas.barraAvanceMetas.solicitudes }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/fotoperfil.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col">
                                <p class="font-weight-bold">$1K</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                        
                    </div>                        
                </div>
            </div>
            <span class="border spanMargin"></span>
            <div class="col text-center p-4">
                <div class="row">
                    <div class="col">
                        <p>Traspasos FCT</p>
                    </div>
                    <div class="col">
                        <p class="font-weight-bold">359</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/fotoperfil.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col">
                                <p class="font-weight-bold">500</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                        
                    </div>                        
                </div>
            </div>
            <span class="border spanMargin"></span>
            <div class="col text-center p-4">
                <div class="row">
                    <div class="col">
                        <p>Gerencias Productivas</p>
                    </div>
                    <div class="col">
                        <p class="font-weight-bold">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/fotoperfil.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col">
                                <p class="font-weight-bold">500</p>
                                <p>Objetivo</p>
                            </div>
                        </div>
                        
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="alert alert-danger col m-4 p-1" role="alert">
        <div class="row">
            <div class="col-1 offset-md-3">
                <img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt="">
            </div>
            <div class="col" style="padding-top: 5px;">
                Tu coordinación esta $140M por debajo del esperado para lograr superar tu mejor mes $238M
            </div>
        </div>
    </div>
</div>v
