.card, .spanMargin{
    height: 130px;   
}

.lbl{
    line-height: 10px;
    font-size: medium;
}

.lbl-small{
    line-height: 10px;
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}

.lblavance{
    line-height: 10px;
    font-size: x-large;
    text-align: end;
}

.centercontent{
    margin-top: 5px;
}

.lblCenter{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.cardColorPopOver{
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.cardColorPopOverRed{
    background: #FF1D25 0% 0% no-repeat padding-box;
    color: white;
}

.labelNombre{
    line-height: 12px;
    font-weight: bold;
    margin: 0px;
    font-size: 10px;
}

.labelApellido{
    line-height: 12px;
    font-weight: normal;
    margin: 0px;
    font-size: 10px;
}

.labelSucursal{
    line-height: 12px;
    font-weight: normal;
    margin: 0px;
    font-size: 10px;
}