/* .card-metas, .spanMargin{
    height: 130px;   
} */

.titleRow{
    height: 64px;
}

.lbl{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: medium;
}

.lbl-small{
    line-height: 10px;
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}

.lblavance{
    line-height: 10px;
    font-size: 23px;
    text-align: end;
}

.centercontent{
    margin-top: 5px;
}

.lblCenter{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.cardColorPopOver{
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.cardColorPopOverRed{
    background: #FF1D25 0% 0% no-repeat padding-box;
    color: white;
}

.labelNombre{
    line-height: 12px;
    font-weight: bold;
    margin: 0px;
    font-size: 10px;
}

.labelApellido{
    line-height: 12px;
    font-weight: normal;
    margin: 0px;
    font-size: 10px;
}

.labelSucursal{
    line-height: 12px;
    font-weight: normal;
    margin: 0px;
    font-size: 10px;
}

@media only screen and (max-width: 1300px) {
    .lblavance{
        font-size: 22px;
    }
}
@media only screen and (max-width: 1200px) {
    .lblavance{
        font-size: 21px;
    }
}
@media only screen and (max-width: 1100px) {
    .lblavance{
        font-size: 20px;
    }
}
@media only screen and (max-width: 1050px) {
    .lblavance{
        font-size: 19px;
    }
}
@media only screen and (max-width: 1000px) {
    .lblavance{
        font-size: 23px;
    }
}