<div class="card cardMediana mt-4">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-4 text-center productividad">
            <div class="card lblActivado" style="background-color: #80CC0E;">
                <p>Productividad</p>
                <p>Diaria</p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 text-center productividad">
            <div class="card lblDesac" style="background-color: #E9E9E9;">
                <p>Productividad</p>
                <p>Semanal</p>
            </div>
        </div>
        <div class="col-12 col-md text-center p-0">
            <p class="lbl">
                <span class="controlperiodo"><i class="fas fa-chevron-left pr-4"></i><i class="far fa-calendar-alt"></i><i class="fas fa-chevron-right pl-4"></i></span>
            </p>
        </div>
    </div>
</div>
