<div class="card cardMediana mt-4">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-4 text-center productividad">
            <div [ngClass]="DiariaSemana? 'lblActivado' : 'lblDesac'" class="card marginDiaria" (click)="cambiarPeriodo(1)">
                <p>Productividad</p>
                <p>Diaria</p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 text-center productividad">
            <div [ngClass]="DiariaSemana? 'lblDesac' : 'lblActivado'" class="card marginSemanal" (click)="cambiarPeriodo(2)">
                <p>Productividad</p>
                <p>Semanal</p>
            </div>
        </div>
        <div class="col-12 col-md text-center p-0 m-0">
            <p class="lbl m-0">
                <span class="controlperiodo">
                    <button class="btn btn-default controlperiodo p-0 m-0" (click)="cargarPeriodo(-1)">
                        <i class="fas fa-chevron-left pr-4"></i>
                    </button>
                    <i class="far fa-calendar-alt"></i>
                    <button class="btn btn-default controlperiodo p-0 m-0" (click)="cargarPeriodo(1)">
                        <i class="fas fa-chevron-right pl-4"></i>
                    </button>    
                </span>
            </p>
        </div>
    </div>
</div>
