<div class="row m-1">
    <div class="col card" style="background-color: #80CC0E;">
        <div class="row">
            <div class="col-4">
                <img width="100px" height="100px" style="margin-top: 10px; margin-bottom: 10px; margin-left: 30px;" class="rounded-circle" src="https://aws.glamour.mx/prod/designs/v1/assets/1170x614/224605.jpg" alt="">
            </div>
            <div class="col-8">
                <p class="labelNombre">Camilo Angel</p>
                <p class="labelApellido">Grimaldo Arreguin</p>
                <p class="labelSucursal">MONTERREY 11</p>
            </div>
        </div>
    </div>
    <div class="col-3 card">

    </div>
    <div class="col-3 card">
        
    </div>
    <div class="col-3 card">
        
    </div>
</div>
