<div class="row m-4">
    <div class="col card text-left" style="background-color: #80CC0E;">
        <div class="row">
            <div class="col-4">
                <img width="100px" height="100px" style="margin-top: 10px; margin-bottom: 10px; margin-left: 30px;" class="rounded-circle" src="assets\img\capi_circulo.png" alt="">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <p class="labelNombre">Camilo Angel</p>
                    <p class="labelApellido">Grimaldo Arreguin</p>
                    <p class="labelSucursal">MONTERREY 11</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 card">
        <div class="row">
            <div class="col text-center">
                <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-productivos-off.png" alt="">
                <p class="lblTitulos">
                    Productivos
                </p>
                <div class="card valores">9/21</div>
            </div>
            <div class="col text-center">
                <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-saldo-promedio-off.png" alt="">
                <p class="lblTitulos">
                    Saldo Promedio
                </p>
                <div class="card valores">$105.5K</div>
            </div>
            <div class="col text-center">
                <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-fct-off.png" alt="">
                <p class="lblTitulos">
                    FCT
                </p>
                <div class="card valores">35</div>
            </div>
            <div class="col text-center">
                <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-traspasos-off.png" alt="">
                <p class="lblTitulos">
                    Total Traspasos
                </p>
                <div class="card valores">120</div>
            </div>
            <div class="col text-center">
                <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-bien-primera-on.png" alt="">
                <p class="lblTitulos">
                    Bien a la primera
                </p>
                <div class="card valores">96%</div>
            </div>
            <div class="col text-center">
                <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-rotacion-off.png" alt="">
                <p class="lblTitulos">
                    Rotación
                </p>
                <div class="card valores">33%</div>
            </div>
        </div>
    </div>
</div>
