<div class="m-4">
    <div class="row">
        <ul class="col nav nav-tabs justify-content-end">
            <li class="nav-item">
                <div class="nav-link active text-center" style="color: #4D4D4D; margin-top: 0px; margin-bottom: 0px;">
                    <p  style="display: inline; font-weight: bold; color: #4D4D4D; margin-top: 0px; margin-bottom: 0px;" aria-current="true">Detalle Gerencia</p><p style="display: inline; font-size: 10px; color: #4D4D4D; margin-top: 0px; margin-bottom: 0px;"> ultimos 4 meses</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-3 col-12 card text-left" style="background-color: #80CC0E; padding: 0px;">
            <div class="row">
                <div class="col-4 text-center">
                    <img width="100px" height="100px" style="margin-top: 15px; margin-bottom: 0px; margin-left: 0px;" class="rounded-circle" src="assets\img\capi_circulo.png" alt="">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <p class="labelNombre">Camilo Angel</p>
                        <p class="labelApellido">Grimaldo Arreguin</p>
                        <p class="labelSucursal">MONTERREY 11</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 card">
            <div class="row">
                <div class="col-lg col-6 text-center">
                    <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-productivos-off.png" alt="">
                    <p class="lblTitulos">
                        Productivos
                    </p>
                    <div class="card valores">9/21</div>
                </div>
                <div class="col-lg col-6 text-center">
                    <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-saldo-promedio-off.png" alt="">
                    <p class="lblTitulos">
                        Saldo Promedio
                    </p>
                    <div class="card valores">$105.5K</div>
                </div>
                <div class="col-lg col-6 text-center">
                    <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-fct-off.png" alt="">
                    <p class="lblTitulos">
                        FCT
                    </p>
                    <div class="card valores">35</div>
                </div>
                <div class="col-lg col-6 text-center">
                    <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-traspasos-off.png" alt="">
                    <p class="lblTitulos">
                        Total Traspasos
                    </p>
                    <div class="card valores">120</div>
                </div>
                <div class="col-lg col-6 text-center">
                    <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-bien-primera-on.png" alt="">
                    <p class="lblTitulos">
                        Bien a la primera
                    </p>
                    <div class="card valores">96%</div>
                </div>
                <div class="col-lg col-6 text-center">
                    <img width="70px" height="70px" class="rounded-circle" src="assets\img\btn-rotacion-off.png" alt="">
                    <p class="lblTitulos">
                        Rotación
                    </p>
                    <div class="card valores">33%</div>
                </div>
            </div>
        </div>
    </div>
</div>
