.labelNombre{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #FFFFFF;
}

.labelApellido{
    font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #FFFFFF;
}

.labelSucursal{
    font-weight: normal;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #FFFFFF;
}

.lblTitulos{
    margin-top: 0px;
    margin-bottom: 0px;
}

.valores{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    color: #4D4D4D;
    font-weight: bold;
    margin-bottom: 10px;
    width: 70px;
    display: inline-block;
    border: none;
}

.navbar-inverse {
    border-radius: 0;
  }