.labelNombre{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #FFFFFF;
}

.labelApellido{
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #FFFFFF;
}

.labelSucursal{
    font-weight: normal;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #FFFFFF;
}