.labelNombre{
    line-height: 10px;
    font-weight: bold;
    font-size: 10px;
}

.labelApellido{
    line-height: 10px;
    font-weight: normal;
    font-size: 10px;
}

.labelSucursal{
    line-height: 10px;
    font-weight: normal;
    font-size: 10px;
}