
<div class="container-fluid p-4" style="background-color: #F2F2F2;">
    <form [formGroup]="form">
    <div class="row">
        <div class="col-3">
            <app-titulo [nombreTitulo]="nombreTitulo" [nombreImg]="nombreImg"></app-titulo>
        </div>
        <div class="col-6">
            <div class="card" style="height: 60px;">
                <div class="d-flex justify-content-center">
                    <div class="p-3 flex-fill">
                        <label>Periodo</label>
                    </div>
                    <div class="p-2 flex-fill">
                        <select formControlName="tipoPeriodo" class="form-control" (Change)='onTipoPeriodoChanged($event)'>
                            <option *ngFor="let item of tiposPeriodo" value="item.idTipoPeriodo" [selected]="item.idTipoPeriodo === 2">
                                <i class="fa fa-calendar"> {{ item.tipoPeriodo }}</i>
                            </option>
                        </select>
                    </div>
                    <div class="p-2 flex-fill">
                        <label *ngIf="idTipoPeriodo === 1"> {{ periodoSemana.numeroSemana }} </label>
                        <button class="btn btn-default">
                            <img src="../../../assets/img/flechaizq.png" width="12" />
                        </button>
                        {{getPeriodoDesc()}}
                        <button class="btn btn-default">
                            <img src="../../../assets/img/flechader.png" width="12" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-barra-metas></app-barra-metas>
    <div class="row">
        <div class="col">
            <app-mejor-saldo></app-mejor-saldo>
        </div>
        <div class="col">
            <app-tendencia></app-tendencia>           
        </div>
        <div class="col">
            <app-relevante></app-relevante>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col">
            <div class="card">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </form>
</div>  
