.spanMargin{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-radius{
    border-radius: 10px ;
}
.card-bold{
    font-weight: bold;
}


@media only screen and (max-device-width: 489px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .lblnone{
        display: none;
    }
 }

