<div class="container-fluid p-4" style="background-color: #F2F2F2;">
    <div class="row">
        <div class="col-3">
            <app-titulo [nombreTitulo]="nombreTitulo" [nombreImg]="nombreImg"></app-titulo>
        </div>
        <div class="col text-center">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div *ngIf="tiposPeriodo" class="form-group">
                            <label>Periodo</label>
                            <select class="form-control">
                              <option *ngFor="let item of tiposPeriodo" value="item.idTipoPeriodo">{{ item.tipoPeriodo }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <p>hola</p>
                    </div>
                    <div class="col">
                        <p>S15</p>
                    </div>
                    <div class="col">
                        flechitas
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col">
            <div class="row">
                <div class="col-lg-3 p-4">
                    <div class="row">
                        <div class="col">
                            <p>Avance</p>
                        </div>
                        <div class="col">
                            <p>Saldo Virtual</p>
                        </div>
                        <div class="col">
                            <p class="font-weight-bold">$98M</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img class=" mx-auto d-block imgPerfil" src="../../../assets/img/fotoperfil.png" alt="">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>                            
                            </div>
                            <div class="row" style="margin-top: 40px;">
                                <div class="col">
                                    <p class="font-weight-bold">$238M</p>
                                    <p>Objetivo</p>
                                </div>
                                <div class="col">
                                    <p class="font-weight-bold">$223M</p>
                                    <p>Proyección</p>
                                </div>
                            </div>
                            
                        </div>                        
                    </div>
                </div>
                <span class="border spanMargin"></span>
                <div class="col text-center p-4">
                    <div class="row">
                        <div class="col">
                            <p>Solicitudes</p>
                        </div>
                        <div class="col">
                            <p class="font-weight-bold">840</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/fotoperfil.png" alt="">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>                            
                            </div>
                            <div class="row" style="margin-top: 40px;">
                                <div class="col">
                                    <p class="font-weight-bold">$1K</p>
                                    <p>Objetivo</p>
                                </div>
                            </div>
                            
                        </div>                        
                    </div>
                </div>
                <span class="border spanMargin"></span>
                <div class="col text-center p-4">
                    <div class="row">
                        <div class="col">
                            <p>Traspasos FCT</p>
                        </div>
                        <div class="col">
                            <p class="font-weight-bold">359</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/fotoperfil.png" alt="">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>                            
                            </div>
                            <div class="row" style="margin-top: 40px;">
                                <div class="col">
                                    <p class="font-weight-bold">500</p>
                                    <p>Objetivo</p>
                                </div>
                            </div>
                            
                        </div>                        
                    </div>
                </div>
                <span class="border spanMargin"></span>
                <div class="col text-center p-4">
                    <div class="row">
                        <div class="col">
                            <p>Gerencias Productivas</p>
                        </div>
                        <div class="col">
                            <p class="font-weight-bold">0</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img class="rounded mx-auto d-block imgPerfil" src="../../../assets/img/fotoperfil.png" alt="">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>                            
                            </div>
                            <div class="row" style="margin-top: 40px;">
                                <div class="col">
                                    <p class="font-weight-bold">500</p>
                                    <p>Objetivo</p>
                                </div>
                            </div>
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-danger col m-4 p-1" role="alert">
            <div class="row">
                <div class="col-1 offset-md-3">
                    <img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt="">
                </div>
                <div class="col" style="padding-top: 5px;">
                    Tu coordinación esta $140M por debajo del esperado para lograr superar tu mejor mes $238M
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <p>Mejor Saldo</p>
                    </div>
                    <div class="col">
                        S14 2021
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table" style="margin-left: 10px; margin-right: 10px;">
                            <tbody>
                              <tr>
                                <th scope="row">S52</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S53</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S54</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <p>Mejor Saldo</p>
                    </div>
                    <div class="col">
                        S14 2021
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table" style="margin-left: 10px; margin-right: 10px;">
                            <tbody>
                              <tr>
                                <th scope="row">S52</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S53</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S54</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <p>Mejor Saldo</p>
                    </div>
                    <div class="col">
                        S14 2021
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table" style="margin-left: 10px; margin-right: 10px;">
                            <tbody>
                              <tr>
                                <th scope="row">S52</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S53</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S54</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col">
            <div class="card">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  