<div class="container-fluid p-4" style="background-color: #F2F2F2;">
    <div class="row">
        <div class="col-3">
            <app-titulo [nombreTitulo]="nombreTitulo" [nombreImg]="nombreImg"></app-titulo>
        </div>
        <div class="col text-center">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div *ngIf="tiposPeriodo" class="form-group">
                            <label>Periodo</label>
                            <select class="form-control">
                              <option *ngFor="let item of tiposPeriodo" value="item.idTipoPeriodo">{{ item.tipoPeriodo }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <p>hola</p>
                    </div>
                    <div class="col">
                        <p>S15</p>
                    </div>
                    <div class="col">
                        flechitas
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-barra-metas></app-barra-metas>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <p>Mejor Saldo</p>
                    </div>
                    <div class="col">
                        S14 2021
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table" style="margin-left: 10px; margin-right: 10px;">
                            <tbody>
                              <tr>
                                <th scope="row">S52</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S53</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S54</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <p>Mejor Saldo</p>
                    </div>
                    <div class="col">
                        S14 2021
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table" style="margin-left: 10px; margin-right: 10px;">
                            <tbody>
                              <tr>
                                <th scope="row">S52</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S53</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S54</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <p>Mejor Saldo</p>
                    </div>
                    <div class="col">
                        S14 2021
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table" style="margin-left: 10px; margin-right: 10px;">
                            <tbody>
                              <tr>
                                <th scope="row">S52</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S53</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                              <tr>
                                <th scope="row">S54</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col">
            <div class="card">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  