.card-radius{
    border-radius: 10px ;
    width: 100%;
    /* margin-top: -15px; */
}
.papading{
    padding: 3px;
    vertical-align: middle;
}
.shadow{
    box-shadow: 2px 2px 4px #bababa;
}
.verticalProgress{
    transform: rotate(-90deg);
    width: 70px;
    height: 8px;
    margin: auto;
    position: absolute;
    margin-top: 20px;
    margin-left: -22px;
}
.lblDays{
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    font-size: 12px;
}
.col-verticalProgress{
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    width: 10px;
    height: 100px;
}
.avanceBox{
    height: 240px;
}

.lblTitulos{
    margin-top: 10px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    height: 45px;
}

@media only screen and (max-device-width: 1550px) {
    .colAvance{
        padding: 1px;
    }
}

@media only screen and (max-device-width: 1300px) {
    .colAvance{
        padding: 1px;
    }
}

@media only screen and (max-device-width: 489px) {

}