<div class="card card-radius">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-title font-weight-bold">Avance</p>
                    </div>
                </div>
                <div *ngIf="avanceGerencia" class="row">
                    <div class="col-12 col-lg-2 colAvance">
                        <div class="card card-radius shadow avaceBox">
                            <div class="card-body  text-center">
                                <div *ngIf="avanceGerencia.detalleSaldoSemanal.saldo" class="row">
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">L</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoSemanal.lunes}" class="progress-bar verticalProgress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">M</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoSemanal.martes}" class="progress-bar verticalProgress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">M</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoSemanal.miercoles}" class="progress-bar verticalProgress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">J</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoSemanal.jueves}"  class="progress-bar verticalProgress-bar bg-danger" role="progressbar progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">V</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoSemanal.viernes}"  class="progress-bar verticalProgress-bar bg-danger" role="progressbar progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">S</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoSemanal.sabado}" class="progress-bar verticalProgress-bar bg-danger" role="progressbar progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">D</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoSemanal.domingo}"  class="progress-bar verticalProgress-bar bg-danger" role="progressbar progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="avanceGerencia.detalleSaldoMensual.saldo" class="row">
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">S1</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoMensual.sem1}" class="progress-bar verticalProgress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">S2</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoMensual.sem2}" class="progress-bar verticalProgress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">S3</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoMensual.sem3}" class="progress-bar verticalProgress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">S4</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': avanceGerencia.detalleSaldoMensual.sem4}"  class="progress-bar verticalProgress-bar bg-danger" role="progressbar progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <span *ngIf="avanceGerencia.detalleSaldoSemanal.saldo" class="badge badge-danger"><h4>{{ avanceGerencia.detalleSaldoSemanal.saldo }}</h4></span>
                                        <span *ngIf="avanceGerencia.detalleSaldoMensual.saldo" class="badge badge-danger"><h4>{{ avanceGerencia.detalleSaldoMensual.saldo }}</h4></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Saldo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img *ngIf="!avanceGerencia.productivoAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-productivos-off.png" alt="">
                                <img *ngIf="avanceGerencia.productivoAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-productivos-on.png" alt="">
                                <p class="lblTitulos">
                                    Productivos
                                </p>
                                <p class="font-weight-bold">{{ avanceGerencia.productivos }}</p>
                                <div class="progress">
                                    <div [ngStyle]="{'width': avanceGerencia.porcentajeProd}" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p *ngIf="!avanceGerencia.tendenciaProdOK"><i class="fas fa-arrow-down text-danger"></i>{{ avanceGerencia.porcentajeProd }}</p>
                                <p *ngIf="avanceGerencia.tendenciaProdOK"><i class="fas fa-arrow-up text-success"></i>{{ avanceGerencia.porcentajeProd }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img *ngIf="!avanceGerencia.saldoPromedioAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-saldo-promedio-off.png" alt="">
                                <img *ngIf="avanceGerencia.saldoPromedioAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-saldo-promedio-on.png" alt="">
                                <p class="lblTitulos">
                                    Saldo Promedio
                                </p>
                                <p class="font-weight-bold">{{ avanceGerencia.saldoPromedio }}</p>
                                <div class="progress">
                                    <div [ngStyle]="{'width': avanceGerencia.porcentajeSP}" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p *ngIf="!avanceGerencia.tendenciaSaldoPromOK"><i class="fas fa-arrow-down text-danger"></i>{{ avanceGerencia.porcentajeSP }}</p>
                                <p *ngIf="avanceGerencia.tendenciaSaldoPromOK"><i class="fas fa-arrow-up text-success"></i>{{ avanceGerencia.porcentajeSP }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img *ngIf="!avanceGerencia.fctAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-fct-off.png" alt="">
                                <img *ngIf="avanceGerencia.fctAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-fct-on.png" alt="">
                                <p class="lblTitulos">
                                    FCT
                                </p>
                                <p class="font-weight-bold">{{ avanceGerencia.fct }}</p>
                                <div class="progress">
                                    <div [ngStyle]="{'width': avanceGerencia.porcentajeFCT}" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p *ngIf="!avanceGerencia.tendenciaFCTOK"><i class="fas fa-arrow-down text-danger"></i>{{ avanceGerencia.porcentajeFCT }}</p>
                                <p *ngIf="avanceGerencia.tendenciaFCTOK"><i class="fas fa-arrow-up text-success"></i>{{ avanceGerencia.porcentajeFCT }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img *ngIf="!avanceGerencia.traspasosAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-traspasos-off.png" alt="">
                                <img *ngIf="avanceGerencia.traspasosAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-traspasos-on.png" alt="">
                                <p class="lblTitulos">
                                    Total Traspasos
                                </p>
                                <p class="font-weight-bold">{{ avanceGerencia.traspasos }}</p>
                                <div class="progress">
                                    <div [ngStyle]="{'width': avanceGerencia.porcentajeT}" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p *ngIf="!avanceGerencia.tendenciaTraspOK"><i class="fas fa-arrow-down text-danger"></i>{{ avanceGerencia.porcentajeT }}</p>
                                <p *ngIf="avanceGerencia.tendenciaTraspOK"><i class="fas fa-arrow-up text-success"></i>{{ avanceGerencia.porcentajeT }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img *ngIf="!avanceGerencia.bienPrimeraAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-bien-primera-off.png" alt="">
                                <img *ngIf="avanceGerencia.bienPrimeraAcivo" width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-bien-primera-on.png" alt="">
                                <p class="lblTitulos">
                                    Bien a la primera
                                </p>
                                <p class="font-weight-bold">{{ avanceGerencia.bienPrimera }}</p>
                                <div class="progress">
                                    <div [ngStyle]="{'width': avanceGerencia.porcentajeB1}" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p *ngIf="!avanceGerencia.tendenciaB1OK"><i class="fas fa-arrow-down text-danger"></i>{{ avanceGerencia.porcentajeB1 }}</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-title font-weight-bold">Notificaciones</p>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="notificaciones" class="col">
                        <div *ngFor="let item of notificaciones.notificaciones" class="alert alert-danger" role="alert">
                            <p>{{ item.diagnositico }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    