<div class="card card-radius">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-title font-weight-bold">Avance</p>
                    </div>
                </div>
                <div *ngIf="avanceGerencia && tendencias" class="row">
                    <div class="col-12 col-lg-2 colAvance ">
                        <div [mdbPopover]="PopOverSA" class="card card-radius shadow avanceBox" placement="top" triggers="focus" mdbWavesEffect>
                            <div class="card-body  text-center">
                                <div *ngIf="avanceGerencia.listaSaldoAvances && idTipoPeriodo == 1" class="row">
                                    <div class="col-verticalProgress" *ngFor="let item of avanceGerencia.listaSaldoAvances">
                                        <label class="lblDays">{{item.diaDescCorta}}</label><br>
                                        <div class="progress verticalProgress">
                                            <div [ngStyle]="{'width': item.porcentaje}" class="progress-bar verticalProgress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <span *ngIf="avanceGerencia.saldoAcumulado" class="badge badge-danger"><h4>{{ avanceGerencia.saldoAcumulado }}</h4></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Saldo</p>
                                    </div>
                                </div>
                            </div>
                            <ng-template #PopOverSA>
                                <div>
                                    <div class="row">

                                        <div class="row">
                                            <div class="col-lg-2" style="margin-left: 4px;">
                                                <img style="width: 33px; height:30px" src="assets/img/bolsaAhorro.png">
                                            </div>
                                            <div class="col-lg-9 text-center" style="">
                                                <h7>Avance de Saldo</h7>
                                            </div>

                                        </div>
                                        <span class="border" style="width: 100%; margin: 10px;"></span>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Saldo Virtual</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="lblCenter">
                                                        <span class="badge badge-light cardColorPopOver"><h6>{{ avanceGerencia.saldoVirtual }}</h6></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Saldo Cantado</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="lblCenter">
                                                        <span class="badge badge-light cardColorPopOver"><h6>{{ avanceGerencia.saldoCantado }}</h6></span>
                                                    </p>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Saldo Acumulado</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="lblCenter">
                                                        <span class="badge badge-light cardColorPopOver"><h6>{{ avanceGerencia.saldoAcumulado }}</h6></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="idTipoPeriodo == 1">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Comisión Estimada</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="lblCenter">
                                                        <span class="badge badge-light cardColorPopOver"><h6>{{ avanceGerencia.comisionEstimada }}</h6></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-12 col-lg" *ngFor="let item of tendencias.listaTendencias" style="padding-left: 3px; padding-right: 3px;">
                        <div class="col-12 col-lg colAvance" >
                            <div class="card card-radius shadow avanceBox">
                                <div class="card-body text-center">
                                    <img width="70px" height="66px" class="mx-auto d-block " src="{{item.imgAvance}}" alt="">
                                    <p class="lblTitulos">{{ item.descripcion }}</p>
                                    <p class="font-weight-bold">{{ item.descripcionAvance }}</p>
                                    <div class="progress">
                                        <div [ngStyle]="{'width': item.porcentaje}" class="progress-bar bg-{{ item.positivo ? 'success' : 'danger'}} progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p [ngStyle]="{'color': (item.positivo) ? '#80CC0E' : '#FF1D25'}"><i class="fas fa-arrow-{{ item.positivo ? 'up' : 'down'}}"></i> {{ item.porcentaje }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-title font-weight-bold">Notificaciones</p>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="notificaciones" class="col">
                        <div *ngFor="let item of notificaciones.notificaciones" class="alert alert-danger" role="alert">
                            <p>{{ item.diagnositico }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    