<div class="card card-radius">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-title font-weight-bold">Avance</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-2 colAvance">
                        <div class="card card-radius shadow avaceBox">
                            <div class="card-body  text-center">
                                <div class="row">
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">L</label><br>
                                        <div class="progress verticalProgress">
                                            <div style="width: 80%;" class="progress-bar verticalProgress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">M</label><br>
                                        <div class="progress verticalProgress">
                                            <div style="width: 70%;" class="progress-bar verticalProgress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">M</label><br>
                                        <div class="progress verticalProgress">
                                            <div style="width: 20%;" class="progress-bar verticalProgress-bar bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">J</label><br>
                                        <div class="progress verticalProgress">
                                            <div class="progress-bar verticalProgress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">V</label><br>
                                        <div class="progress verticalProgress">
                                            <div class="progress-bar verticalProgress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">S</label><br>
                                        <div class="progress verticalProgress">
                                            <div class="progress-bar verticalProgress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-verticalProgress">
                                        <label class="lblDays">D</label><br>
                                        <div class="progress verticalProgress">
                                            <div class="progress-bar verticalProgress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <span class="badge badge-danger"><h4>$416K</h4></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Saldo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-productivos-off.png" alt="">
                                <p class="lblTitulos">
                                    Productivos
                                </p>
                                <p class="font-weight-bold">1/21</p>
                                <div class="progress">
                                    <div style="width: 25px;" class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p><i class="fas fa-arrow-down text-danger"></i> 25%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-saldo-promedio-off.png" alt="">
                                <p class="lblTitulos">
                                    Saldo Promedio
                                </p>
                                <p class="font-weight-bold">1/21</p>
                                <div class="progress">
                                    <div style="width: 25px;" class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p><i class="fas fa-arrow-down text-danger"></i> 25%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-fct-off.png" alt="">
                                <p class="lblTitulos">
                                    FCT
                                </p>
                                <p class="font-weight-bold">1/21</p>
                                <div class="progress">
                                    <div style="width: 55px;" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p><i class="fas fa-arrow-down text-danger"></i> 55%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-traspasos-off.png" alt="">
                                <p class="lblTitulos">
                                    Total Traspasos
                                </p>
                                <p class="font-weight-bold">1/21</p>
                                <div class="progress">
                                    <div style="width: 25px;" class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p><i class="fas fa-arrow-down text-danger"></i> 25%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-bien-primera-on.png" alt="">
                                <p class="lblTitulos">
                                    Bien a la primera
                                </p>
                                <p class="font-weight-bold">1/21</p>
                                <div class="progress">
                                    <div style="width: 25px;" class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p><i class="fas fa-arrow-down text-danger"></i> 25%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg colAvance">
                        <div class="card card-radius shadow avanceBox">
                            <div class="card-body  text-center">
                                <img width="70px" height="66px" class="mx-auto d-block rounded-circle shadow" src="assets\img\btn-rotacion-off.png" alt="">
                                <p class="lblTitulos">
                                    Rotación
                                </p>
                                <p class="font-weight-bold">1/21</p>
                                <div class="progress">
                                    <div style="width: 25px;" class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p><i class="fas fa-arrow-down text-danger"></i> 25%</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-title font-weight-bold">Notificaciones</p>
                    </div>
                </div>
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        <p>Tiene más de 12 meses sin llegar a la meta de $20M.</p>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <p>Tiene más de 12 meses sin llegar a la meta de $20M.</p>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <p>Tiene más de 12 meses sin llegar a la meta de $20M.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    