<div class="row mt-3 barraWebDisplay">
    <div class="col-12">
        <div class="card card-radius">
            <div class="card-body">
                <div class="row text-center font-weight-bold" *ngIf="focusUsr">
                    <div class="col-12 col-md"><h4 class="font-weight-bold">{{ focusUsr.coordinacion }}</h4></div>
                    <div class="col-12 col-md border-left"><h4 class="font-weight-bold">30</h4><p>Gerencias Comerciales</p></div>
                    <div class="col-12 col-md border-left"><h4 class="font-weight-bold">654</h4><p>Especialistas</p></div>
                    <div class="col-12 col-md border-left"><h4 class="font-weight-bold">$ 1.5 M</h4><p>Proyección Saldo</p></div>
                    <div class="col-12 col-md border-left"><h4 class="font-weight-bold">$ 7.5 M</h4><p>Mejor Saldo</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 barraMbDisplay">
    <div class="col-12">
        <div class="card card-radius">
            <div class="card-body">
                <div class="row text-center font-weight-bold" *ngIf="focusUsr">
                    <div class="col-12 col-md"><h4 class="font-weight-bold">{{ focusUsr.coordinacion }}</h4></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2 barraMbDisplay">
    <div class="col-12">
        <div class="card card-radius">
            <div class="card-body">
                <div class="row text-center font-weight-bold" *ngIf="focusUsr">
                    <div class="col-6 col-sm-6"><h4 class="font-weight-bold">30</h4><p>Gerencias Comerciales</p></div>
                    <div class="col-6 col-sm-6 border-left"><h4 class="font-weight-bold">654</h4><p>Especialistas</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2 barraMbDisplay">
    <div class="col-12">
        <div class="card card-radius">
            <div class="card-body">
                <div class="row text-center font-weight-bold" *ngIf="focusUsr">
                    <div class="col-6 col-md-6"><h4 class="font-weight-bold">$ 1.5 M</h4><p>Proyección Saldo</p></div>
                    <div class="col-6 col-md-6 border-left"><h4 class="font-weight-bold">$ 7.5 M</h4><p>Mejor Saldo</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
