<div class="container-fluid p-4" style="background-color: #F2F2F2;">
    <app-titulo class="row" [nombreTitulo]="nombreTitulo" [nombreImg]="nombreImg"></app-titulo>
    <app-nav-bar [seccionActiva]="1"></app-nav-bar>
    <app-header-pizarron-digital></app-header-pizarron-digital>
    <div class="row">
        <div class="col-12 col-md" style="padding: 0px;">
            <app-control-productividad></app-control-productividad>
        </div>
        <div class="col-12 col-md" style="padding: 0px;">
            <app-comision-bono-pd></app-comision-bono-pd>
        </div>
    </div>
    <app-detalle-productividad></app-detalle-productividad>

</div>