<div class="card">
    <div class="row">
        <div class="col">
            <p>Mejor Saldo</p>
        </div>
        <div class="col">
            S14 2021
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table" style="margin-left: 10px; margin-right: 10px;">
                <tbody>
                  <tr>
                    <th scope="row">S52</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                  </tr>
                  <tr>
                    <th scope="row">S53</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                  </tr>
                  <tr>
                    <th scope="row">S54</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td><img class="rounded mx-auto d-block imgPerfil" style="height: 30px; margin: 0px;" src="../../../assets/img/fotoperfil.png" alt=""></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>