<style>
  .card-radius{
    border-radius: 10px ;
  }
  .card-bold{
    font-weight: bold;
  }
</style>
<div class="card card-radius">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
          <div class="col">
              <p class="text-left card-bold">Tendencias</p>
          </div>
          <div class="col">
            <p  *ngIf='tendencias' class="text-right card-bold">{{ tendencias.encabezadoPeriodo }}</p>
          </div>
      </div>
    </div>
    <table class="table table-hover" style="margin-left: 10px; margin-right: 10px;">
        <tbody *ngIf='tendencias'>
          <tr *ngFor="let item of tendencias.listaTendencias">
            <td><img class="mx-auto d-block" style="height: 30px; margin: 0px;" src="{{item.img}}" alt=""></td>
            <td>{{ item.descripcion }}</td>
            <td style="color:{{ item.positivo ? '#80CC0E' : '#FF1D25'}}"><i class="fas fa-arrow-{{ item.positivo ? 'up' : 'down'}}"></i> {{ item.porcentaje }}</td>
          </tr>
          <tr>
        </tbody>
      </table>
  </div>
</div>