<!-- Background image -->
<div 
    class="bg-image"
    style="background-image: url('assets/img/background_login.png');
      height: 100vh">

    <div id="login">
    <h3 class="text-center text-white pt-5">InverCap Afore</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-5">
                <div id="login-box" class="col-md-4">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-left login-title">Metas y seguimiento</h3>
                        <h3 class="text-left login-title">Nivel Directivo</h3>
                        <br>
                        <div class="form-group">
                            <label for="username" class="login-label">Usuario:</label><br>
                            <input type="text" name="username" id="username" placeholder="Ingresa tu usuario" class="form-control login-input">
                        </div>
                        <div class="form-group">
                            <label for="password" class="login-label">Contraseña:</label>
                            <input type="text" name="password" id="password" class="form-control login-input" placeholder="Ingresa tu contraseña">
                        </div>
                        <div class="form-group">
                            <label class="custom-check">Recordar usuario
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block login-btn">Iniciar Sesión</button>
                        </div>
                    </form>
                    <div class="login-row-footer">
                        <label class="login-footer col-md-8">Copyright © {{Anio}} InverCap Todos los derechos reservados.</label>
                        <label class="login-footer col-md-2">Copyright</label>
                        <label class="login-footer col-md-2">Copyright</label>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- Background image -->
