<!-- Background image -->
<div 
    class="bg-image"
    style="background-image: url('assets/img/background_login.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh">

    <div id="login">
    <br>
        <img src="assets/img/LogoBlanco.png" class="image-top rounded mx-auto d-block">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-6">
                    <form [formGroup]="loginForm" (ngSubmit)="loginUsuario()" class="form-group">
                        <!-- <h3 class="text-left login-title">Dirección Fuerza Comercial</h3> -->
                        <!-- <h3 class="text-left login-title">Fuerza Comercial</h3> -->
                        <br>
                        <div class="form-group">
                            <label for="username" class="login-label">Usuario de Red:</label>
                            <input type="text" class="form-control login-input" formControlName="user"
                                placeholder="Ingresa tu usuario..."
                                [ngClass]="{ 'is-invalid': submitted && f.user.errors }">
                            <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
                                <div *ngIf="f.user.errors.required">El usuario es requerido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="login-label">Contraseña:</label>
                            <input type="password" class="form-control login-input"
                                formControlName="passw"
                                placeholder="Contraseña" ngModel
                                [ngClass]="{ 'is-invalid': submitted && f.passw.errors }">
                            <div *ngIf="submitted && f.passw.errors" class="invalid-feedback">
                                <div *ngIf="f.passw.errors.required">La contraseña es requerida</div>
                             </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                 <input type="checkbox" value="" formControlName="recordarUsr">
                                 <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                    Recordar usuario
                                 </label>
                              </div>    
                        </div>                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-block login-btn">Iniciar Sesión</button>
                        </div>

                        <alert></alert>
                        
                    </form>
                    <div class="login-row-footer">
                        <label class="login-footer col-md-6">Copyright © {{Anio}} InverCap Todos los derechos reservados.</label>
                        <img src="assets/img/LogoGris.png" class="img-fluid">
                        <img src="assets/img/ESR.png" class="img-fluid">
                    </div>                   
                </div>
            </div>
        </div>
    
    </div>
    
</div>

</div>
<!-- Background image -->
