<div class="row p-4">
    <div class="col-lg-4 divespacio">
        <div class="card p-3">
            <div class="row">
                <div class="col">
                    <p style="margin-top: 0px; margin-bottom: 0px; font-weight: bold;">Relevantes APKs</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="margin-top: 0px; margin-bottom: 0px; font-weight: bold;">Fuerza Comercial</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center divespacio">
                    <i class="fas fa-arrow-down flechaRelevante" style="color: #FF1D25;"></i>
                    <p class="NumRelevantesTG">23</p>
                    <p class="RelevantesDesc">Trámites Generados</p>
                </div>
                <div class="col text-center divespacio">
                    <div class="card NumRelevantes">8</div>
                    <p class="RelevantesDesc">Trámites Finalizados (Operaciones)</p>
                </div>
                <div class="col text-center divespacio">                    
                    <div class="card NumRelevantes">37%</div>
                    <p class="RelevantesDesc">% Rechazos 1er Intento</p>
                </div>
                <div class="col text-center divespacio">
                    <div class="card NumRelevantes">0</div>
                    <p class="RelevantesDesc">Trámites No Recuperados</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 divespacio">
        <div class="card p-3">
            <div class="row">
                <div class="col">
                    <p style="margin-top: 0px; font-weight: bold;">Prospectos</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center divespacio">
                    <i class="fas fa-arrow-down flechaRelevante" style="color: #FF1D25;"></i>
                    <p class="NumRelevantesTG">2</p>
                    <p class="RelevantesDesc">#Aps utilizan</p>
                </div>
                <div class="col text-center divespacio">
                    <div class="card NumRelevantes">0</div>
                    <p class="RelevantesDesc">Correos promocionales</p>
                </div>
                <div class="col text-center divespacio">                    
                    <div class="card NumRelevantes">0</div>
                    <p class="RelevantesDesc">Oferta de Valor</p>
                </div>
                <div class="col text-center divespacio">
                    <div class="card NumRelevantes">0</div>
                    <p class="RelevantesDesc">Pre-Validación</p>
                </div>
                <div class="col text-center divespacio">
                    <div class="card NumRelevantes">0</div>
                    <p class="RelevantesDesc">Certificacón</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 divespacio">
        <div class="card p-3">
            <div class="row">
                <div class="col">
                    <p style="margin-top: 0px; font-weight: bold;">Fuera de Línea</p>
                </div>
            </div>
            <div class="row" style="padding-bottom: 18px;">
                <div class="col text-center divespacio">
                    <i class="fas fa-arrow-down flechaRelevante" style="color: #FF1D25;"></i>
                    <p class="NumRelevantesTG">0</p>
                    <p class="RelevantesDesc">#Aps utilizan</p>
                </div>
                <div class="col text-center divespacio">
                    <div class="card NumRelevantes">0</div>
                    <p class="RelevantesDesc">Trámites Certificados</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 divespacio">
        <div class="card p-3">
            <div class="row">
                <div class="col">
                    <p style="margin-top: 0px; margin-bottom: 10px; font-weight: bold;">Top 5 Rechazos</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img width="100px" height="100px" style="margin: 0px;" class="rounded-circle" src="assets\img\five.png">
                </div>
            </div>
        </div>
    </div>
</div>
