<div class="container-fluid" style="background-color: #F2F2F2;">
    <div class="row m-1">
        <div class="col">
            <app-titulo [nombreTitulo]="nombreTitulo" [nombreImg]="nombreImg"></app-titulo>
        </div>
    </div>
    <form [formGroup]="form">
        <app-detallegerencia></app-detallegerencia>
        <div class="row m-1" style="margin-top:100px">
            <div class="col-lg-5">
                <app-comision-estimada></app-comision-estimada>
            </div>
            <div class="col-lg-4">
                <app-mejor-saldo></app-mejor-saldo>
            </div>
            <div class="col-lg-3">
                <app-visoreslidercomercial-especialistariesgo></app-visoreslidercomercial-especialistariesgo>
            </div>
        </div>
        <div class="row m-1" style="margin-top:100px">
            <div class="col">
                <app-avance-lidercomercial></app-avance-lidercomercial>
            </div>
        </div>
    </form>
    <app-relevantes-apps></app-relevantes-apps>
</div>