<div class="container-fluid" style="background-color: #F2F2F2;">
    <div class="row">
        <div class="col">
            <app-titulo [nombreTitulo]="nombreTitulo" [nombreImg]="nombreImg"></app-titulo>
        </div>
    </div>
    <form [formGroup]="form">
        <app-detallegerencia></app-detallegerencia>
        <div class="row justify-content-center">   
            <div class="col-12 col-lg-6">
                <app-control-periodos (changePeriodoEvent)="recievePeriodo($event)"></app-control-periodos>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:20px">
            <div class="row">
                <div class="col-12 col-xl-5">
                    <app-comision-estimada (isLoadingEvent)="recieveIsLoading($event)"></app-comision-estimada>
                </div>
                <div class="col-12 col-xl-4">
                    <app-mejor-saldo (isLoadingEvent)="recieveIsLoading($event)"></app-mejor-saldo>
                </div>
                <div class="col-12 col-xl-3">
                    <app-visoreslidercomercial-especialistariesgo (isLoadingEvent)="recieveIsLoading($event)"></app-visoreslidercomercial-especialistariesgo>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:40px">
            <div class="row">
                <div class="col-12">
                    <app-avance-lidercomercial (isLoadingEvent)="recieveIsLoading($event)"></app-avance-lidercomercial>
                </div>
            </div>
        </div>
    </form>
    <app-relevantes-apps (isLoadingEvent)="recieveIsLoading($event)"></app-relevantes-apps>
</div>