<div class="container-fluid p-4" style="background-color: #F2F2F2;">
    <app-nav-bar [seccionActiva]="1"></app-nav-bar>
    <form [formGroup]="form">
        <div style="margin-top:10px">
            <app-detallegerencia></app-detallegerencia>
        </div>
        <div style="margin-top:20px">
            <div class="row">
                <div class="col-12 col-xl-5">
                    <app-comision-estimada (isLoadingEvent)="recieveIsLoading($event)"></app-comision-estimada>
                </div>
                <div class="col-12 col-xl-4">
                    <app-mejor-saldo (isLoadingEvent)="recieveIsLoading($event)"></app-mejor-saldo>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row pr-3 pl-3">
                        <div class="card card-radius">
                            <div class="card-body font-weight-bold" style="height: 105px;">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="mx-auto d-block imgMR" src="assets/img/especialistas-alert.png">
                                    </div>
                                    <div class="col-3 text-center align-middle ">
                                        <p class="mt-3 lblNumEspecialistas">
                                            <span *ngIf="relevante" class="align-middle">{{ relevante.numEspecialistasMR + '/' + relevante.numEspecialistas  }}</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mt-2 lblDescipcionMR">Especialistas con marca de Riesgo</p>
                                    </div>
                                </div>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:20px">   
            <div class="col-12 col-lg-6">
                <app-control-periodos (changePeriodoEvent)="recievePeriodo($event)"></app-control-periodos>
            </div>
        </div>
        <div style="margin-top:20px">
            <div class="row">
                <div class="col-12">
                    <app-avance-lidercomercial (isLoadingEvent)="recieveIsLoading($event)"></app-avance-lidercomercial>
                </div>
            </div>
        </div>
    </form>
    <app-relevantes-apps (isLoadingEvent)="recieveIsLoading($event)"></app-relevantes-apps>
    
</div>