.fa-arrow-up{
    color: green;
}
.fa-arrow-down{
    color: red;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contenedorperfil{
        padding: 5px;
    }

    .imgMP{
        margin-top: 5px;
    }

    .imgperfil{
        height: 90px;
        width: 90px;
    }

    .bodynombre{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .labelNombre{
        font-weight: bold;
        color: white;
        font-size: 15px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .labelApellido{
        font-weight: bold;
        color: white;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .labelSucursal{
        font-weight: normal;
        color: white;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .lblTitulos{
        font-weight: bold;
        color: #4D4D4D;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        text-align: center;
    }
    
    .valores{
        font-weight: 900;
        color: #4D4D4D;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 0px;
        display: inline-block;
        border: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .contenedorperfil{
        padding: 5px;
    }

    .imgMP{
        margin-top: 5px;
    }

    .imgperfil{
        height: 90px;
        width: 90px;
    }

    .bodynombre{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .labelNombre{
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        color: white;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        font-weight: 900;
        color: #4D4D4D;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
        text-align: center;
    }
    
    .valores{
        font-weight: 900;
        color: #4D4D4D;
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 0px;
        display: inline-block;
        border: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contenedorperfil{
        padding: 5px;
    }

    .imgMP{
        margin-top: 5px;
    }

    .imgperfil{
        height: 90px;
        width: 90px;
    }

    .bodynombre{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .labelNombre{
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        color: white;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        font-weight: bold;
        color: #4D4D4D;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
        text-align: center;
    }
    
    .valores{
        font-weight: 900;
        color: #4D4D4D;
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 0px;
        display: inline-block;
        border: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .contenedorperfil{
        padding: 5px;
    }

    .imgMP{
        margin-top: 10px;
    }

    .imgperfil{
        height: 70px;
        width: 70px;
    }

    .bodynombre{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .labelNombre{
        font-weight: bold;
        color: white;
        font-size: 15px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        color: white;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        color: white;
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        margin-top: 0px;
        font-weight: bold;
        color: #4D4D4D;
        margin-bottom: 0px;
        font-size: 15px;
        text-align: center;
    }
    
    .valores{
        font-weight: 900;
        color: #4D4D4D;
        font-size: 40px;
        margin-top: 5px;
        margin-bottom: 0px;
        display: inline-block;
        border: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .contenedorperfil{
        padding: 5px;
    }
    .imgMP{
        margin-top: 5px;
    }
    .imgperfil{
        height: 90px;
        width: 90px;
    }

    .bodynombre{
        margin-top: 5px;
        margin-bottom: 0px;
        padding-left: 20px;
    }

    .labelNombre{
        font-weight: bold;
        color: white;
        font-size: 18px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        color: white;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        color: white;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        font-weight: bold;
        color: #4D4D4D;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        text-align: center;
    }
    
    .valores{
        font-weight: 900;
        color: #4D4D4D;
        font-size: 40px;
        margin-top: 5px;
        margin-bottom: 0px;
        display: inline-block;
        border: none;
    }
}
@media only screen and (max-width: 1500px) {
    .fa-arrow-up, .fa-arrow-down, .fa-equals{
        font-size: 35px;
    }   
}
@media only screen and (max-width: 1350px) {
    .fa-arrow-up, .fa-arrow-down, .fa-equals{
        font-size: 30px;
    }   
}
@media only screen and (max-width: 1250x) {
    .fa-arrow-up, .fa-arrow-down, .fa-equals{
        font-size: 25px;
    }   
}
@media only screen and (max-width: 1150x) {
    .fa-arrow-up, .fa-arrow-down, .fa-equals{
        font-size: 20px;
    }   
}
