.card {
    cursor: pointer;
}
.card-radius{
    font-size: 14px;
    border-radius: 10px ;
    /* margin-top: -15px; */
}
.imgFoto{
    width:70px;
}
.noPaddig{
    padding: 0px;
}
.card-bg-on{
    background-color: #fff;
    border: solid 2px; 
    border-color: #80CC0E;
}
.card-bg-off{
    background-color: #fff;
    border: solid 2px; 
    border-color: #fff;
}
.plantillaMbDisplay{
    display: none;
}
.plantillaWebDisplay{}

.nombre{
    font-size: 14px;
}

@media only screen and (max-device-width: 1550px) {
    .nombre {
        padding: 3px;        
        font-size: 13px;
    }
    .imgFoto {
        width: 55px;
    }
    .zona{
        padding: 3px;
    }
}
@media only screen and (max-device-width: 1460px) {
    .card{
        height: 290px;
    }
}
@media only screen and (max-device-width: 1300px) {

    .imgFoto {
        width: 53px;
    }
    .zona{
        padding: 3px;
    }
}

@media only screen and (max-device-width: 1190px) {

    .imgFoto {
        width: 51px;
    }
}
@media only screen and (max-device-width: 994px) {
    .card{
        height: 320px;
    }
}
@media only screen and (max-device-width: 924px) {
    .card{
        height: 350px;
    }
}
@media only screen and (max-device-width: 769px) {
    .nombre {
        padding: 1px;        
        font-size: 15px;
    }
    .plantillaMbDisplay{
        display: block;
    }
    .plantillaWebDisplay{
        display: none;
    }
    .card{
        height: 260px;
    }
}

@media only screen and (max-device-width: 489px) {
    .nombre {
        padding: 1px;        
        font-size: 15px;
    }
    .imgFoto {
        width: 52px;
    }
    .plantillaMbDisplay{
        display: block;
    }
    .plantillaWebDisplay{
        display: none;
    }
}