.card {
    cursor: pointer;
}
.imgFoto{
    width:70px
}
.noPaddig{
    padding: 0px;
}
.card-bg-on{
    background-color: #ffffff;
}
.card-bg-off{
    background-color: #f5f5f5;
}
.plantillaMbDisplay{
    display: none;
}
.plantillaWebDisplay{
   
}

@media only screen and (max-device-width: 489px) {
    .plantillaMbDisplay{
        display: block;
    }
    .plantillaWebDisplay{
        display: none;
    }
}