.card {
    cursor: pointer;
}
.card-radius{
    font-size: 14px;
    border-radius: 10px ;
    /* margin-top: -15px; */
}
.imgFoto{
    width:70px
}
.noPaddig{
    padding: 0px;
}
.card-bg-on{
    background-color: #ffffff;
    border: solid 2px; 
    border-color: #28a745;
}
.card-bg-off{
    background-color: #fff;
    border: solid 2px; 
    border-color: #fff;
}
.plantillaMbDisplay{
    display: none;
}
.plantillaWebDisplay{
}
.nombre{
    font-size: 14px;
}

@media only screen and (max-device-width: 1550px) {}

@media only screen and (max-device-width: 1300px) {}

@media only screen and (max-device-width: 769px) {
    .plantillaMbDisplay{
        display: block;
    }
    .plantillaWebDisplay{
        display: none;
    }
}

@media only screen and (max-device-width: 489px) {
    .plantillaMbDisplay{
        display: block;
    }
    .plantillaWebDisplay{
        display: none;
    }
}