/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contenedorperfil{
        padding: 5px;
    }
    .bodynombre{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
    }

    .labelNombre{
        font-weight: bold;
        font-size: 11px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 10px;
        text-align: left;
    }
    
    .valores{
        background: #FF1D25 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        font-weight: bold;
        font-size: small;
        margin-top: 15px;
        width: 50px;
        display: inline-block;
        border: none;
    }
    
    
    .cardsdiv{
        padding: 0px;
    }
    
    .cardsdivnoImg{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
    .lblProyeccion{
        color: red;
        font-size: small;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .lblProyeccionDesc{
        font-weight: bold;
        font-size: x-small;
    }

    .divsinfo{
        margin-left: 0px;
        margin-right: 0px;
        margin: 0px;
        border: 0px;
    }
    .divsinfo2{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 2px;
        border-left: 0px;
        border-right: 0px;
    }
    .ImgPerfil{
        margin-top: 10px;
        margin-left: 10px;
        height: 30px;
        width: 30px;
    }

    .iconos{
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }

    .iconoesp{
        height: 25px;
        width: 25px;
        margin-top: 10px;
    }

    .orden{
        order: 2;    
    }

    .ordentitulo{
        order: 1;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .contenedorperfil{
        padding: 5px;
    }
    .bodynombre{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
    }

    .labelNombre{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 15px;
        text-align: left;
    }
    
    .valores{
        background: #FF1D25 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        font-weight: bold;
        font-size: medium;
        margin-top: 15px;
        width: 80px;
        display: inline-block;
        border: none;
    }

    .valoresOk{
        background: #80CC0E 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        font-weight: bold;
        font-size: medium;
        margin-top: 15px;
        width: 80px;
        display: inline-block;
        border: none;
    }
    
    
    .cardsdiv{
        padding: 0px;
    }
    
    .cardsdivnoImg{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
    .lblProyeccion{
        color: red;
        font-size: medium;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .lblProyeccionDesc{
        font-weight: bold;
        font-size: small;
    }

    .divsinfo{
        margin-left: 0px;
        margin-right: 0px;
        margin: 0px;
        border: 0px;
    }
    .divsinfo2{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 2px;
        border-left: 0px;
        border-right: 0px;
    }
    .ImgPerfil{
        margin-top: 10px;
        margin-left: 10px;
        height: 50px;
        width: 50px;
    }

    .iconos{
        height: 50px;
        width: 50px;
        margin-top: 10px;
    }

    .iconoesp{
        height: 35px;
        width: 35px;
        margin-top: 10px;
    }

    .orden{
        order: 2;    
    }

    .ordentitulo{
        order: 1;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contenedorperfil{
        padding: 5px;
    }
    .bodynombre{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
    }

    .labelNombre{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 20px;
        text-align: left;
    }
    
    .valores{
        background: #FF1D25 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        font-weight: bold;
        font-size: large;
        margin-top: 25px;
        width: 80px;
        display: inline-block;
        border: none;
    }
    
    
    .cardsdiv{
        padding: 0px;
    }
    
    .cardsdivnoImg{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
        padding-top: 0px;
    }
    
    .lblProyeccion{
        color: red;
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    
    .lblProyeccionDesc{
        font-weight: bold;
        font-size: medium;
    }

    .divsinfo{
        margin-left: 0px;
        margin-right: 0px;
        margin: 0px;
        border: 0px;
    }
    .divsinfo2{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
        border-left: 0px;
        border-right: 0px;
    }
    .ImgPerfil{
        margin-top: 10px;
        margin-left: 10px;
        height: 60px;
        width: 60px;
    }

    .iconos{
        height: 80px;
        width: 80px;
    }

    .iconoesp{
        height: 55px;
        width: 55px;
    }

    .orden{
        order: 2;    
    }

    .ordentitulo{
        order: 1;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .bodynombre{
        margin-top: 15px;
    }

    .labelNombre{
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        text-align: center;
    }
    
    .valores{
        background: #FF1D25 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 5px;
        width: 70px;
        display: inline-block;
        border: none;
    }
    
    
    .cardsdiv{
        padding: 0px;
    }
    
    .cardsdivnoImg{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 30px;
    }
    
    .lblProyeccion{
        color: red;
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 0px;
    }
    
    .lblProyeccionDesc{
        font-weight: bold;
        font-size: small;
    }

    .divsinfo{
        margin-left: 5px;
        margin-right: 5px;
    }

    .divsinfo2{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        border-left: 5px;
        border-right: 5px;
    }

    .ImgPerfil{
        margin-top: 15px;
        height: 60px;
        width: 60px;
    }

    .iconos{
        height: 70px;
        width: 70px;
    }

    .iconoesp{
        height: 50px;
        width: 50px;
    }

    .orden{
        order: 1;    
    }

    .ordentitulo{
        order: 2;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bodynombre{
        margin-top: 20px;
    }

    .labelNombre{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelApellido{
        font-weight: bold;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .labelSucursal{
        font-weight: normal;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    
    .lblTitulos{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        text-align: center;
    }
    
    .valores{
        background: #FF1D25 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 5px;
        width: 70px;
        display: inline-block;
        border: none;
    }
    
    
    .cardsdiv{
        padding: 0px;
    }
    
    .cardsdivnoImg{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 30px;
    }
    
    .lblProyeccion{
        color: red;
        font-size: x-large;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .lblProyeccionDesc{
        font-weight: bold;
        font-size: small;
    }

    .divsinfo{
        margin-left: 5px;
        margin-right: 5px;
    }

    .divsinfo2{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        border-left: 5px;
        border-right: 5px;
    }

    .ImgPerfil{
        margin-top: 15px;
        height: 80px;
        width: 80px;
    }

    .iconos{
        height: 70px;
        width: 70px;
    }

    .iconoesp{
        height: 50px;
        width: 50px;
    }

    .orden{
        order: 1;    
    }

    .ordentitulo{
        order: 2;
    }
}