.cardColorPopOver{
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.labelGrid{
    font-weight: bold;
    font-size: x-large;
}

.lblCenter{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.centercontent{
    margin-top: 5px;
}