.cardColorPopOver{
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.lblCenter{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.centercontent{
    margin-top: 5px;
}

.labelNombre{
    line-height: 12px;
    font-weight: bold;
    margin: 0px;
    font-size: 10px;
}

.labelApellido{
    line-height: 12px;
    font-weight: normal;
    margin: 0px;
    font-size: 10px;
}

.labelSucursal{
    line-height: 12px;
    font-weight: normal;
    margin: 0px;
    font-size: 10px;
}

.card-radius{
    border-radius: 10px ;
}

.table td{
   margin: 0px;
   padding: 5px;
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .labelHGrid{
        font-size: smaller;
    }

    .labelGrid{
        font-weight: normal;
        font-size: smaller;
    }
 }
 @media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    /* default iPad screens */
    .labelHGrid{
        font-size: smaller;
    }
    .labelGrid{
        font-weight: normal;
        font-size: smaller;
    }
 }
 
 @media only screen and (max-device-width: 960px) and (min-device-width: 769px) {
     /* styles for browsers larger than 960px; */
     .labelHGrid{
        font-size: smaller;
    }
     .labelGrid{
        font-weight: normal;
        font-size: smaller;
    }
 }
 @media only screen and (max-device-width: 1440px) and (min-device-width: 961px) {
     /* styles for browsers larger than 1440px; */
     .labelHGrid{
        font-size: large;
    }
     .labelGrid{
        font-weight: normal;
        font-size: large;
    }
 }
 @media only screen and (max-device-width: 2000px) and (min-device-width: 1441px) {
     /* for sumo sized (mac) screens */
     .labelHGrid{
        font-size: large;
    }
     .labelGrid{
        font-weight: normal;
        font-size: large;
    }
 }