.cardColorPopOver{
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.table-row{
    height: 10px;
}

.labelGrid{
    font-weight: normal;
    font-size: large;
}

.lblCenter{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.centercontent{
    margin-top: 5px;
}

.labelNombre{
    line-height: 12px;
    font-weight: bold;
    margin: 0px;
    font-size: 10px;
}

.labelApellido{
    line-height: 12px;
    font-weight: normal;
    margin: 0px;
    font-size: 10px;
}

.labelSucursal{
    line-height: 12px;
    font-weight: normal;
    margin: 0px;
    font-size: 10px;
}