<div *ngIf="reporteGerencias && !loading" class="row m-1">
    <div class="col">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col-3" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Proyeccion</th>
                        <th scope="col" class="text-center">Saldo Acomulado</th>
                        <th scope="col" class="text-center">Saldo Promedio</th>
                        <th scope="col" class="text-center">Productividad Especialistas</th>
                        <th scope="col" class="text-center">Mejor Saldo</th>
                        <th scope="col" class="text-center">Periodo</th>
                        <th scope="col" class="text-center">Desempeño Venta</th>
                        <th scope="col" class="text-center">Diagnóstico</th>
                    </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let item of reporteGerencias.reporteGerencias">
                            <th scope="row">
                                <!-- {{ item.nombre }} {{item.apellido}} {{item.nombreSuc}} -->
                                <app-perfil-usuario [imgFoto]="item.foto" [Nombre]="item.nombre" [Apellido]="item.apellido" [Sucursal]="item.nombreSuc"></app-perfil-usuario>
                            </th>
                            <td><p class="text-center labelGrid" [ngStyle]="{'color': (item.proyeccionColor) ? '#80CC0E' : '#FF1D25'}">{{ item.proyeccion }}</p></td>
                            <td [mdbPopover]="PopOverSA" placement="bottom" triggers="focus" mdbWavesEffect>
                                <div class="card cardColorPopOver">
                                    <p class="text-center labelGrid">{{ item.saldoAcomulado }}</p>
                                </div>
                                <ng-template #PopOverSA>
                                    <div>
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img width="50px" height="50px" class="rounded-circle" src="{{ item.foto }}" alt="">
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="labelNombre">{{item.nombre}}</p>
                                                        <p class="labelApellido">{{item.apellido}}</p>
                                                        <p class="labelSucursal">{{item.nombreSuc}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4" style="margin: 0px; padding: 0px;">
                                                <div class="row" style="padding: 0px;">
                                                    <div class="col-4" style="margin: 0px; margin-top: 5px;">
                                                        <img  src="assets/img/detalleLupa.png">
                                                    </div>
                                                    <div class="col" style="text-align: left;">
                                                        <p style="margin: 0px; margin-top: 5px; font-size: 10px;">Detalle Saldo</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="border" style="width: 100%; margin: 10px;"></span>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p>Saldo Virtual</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="card cardColorPopOver">
                                                            <p class="lblCenter">{{ item.saldoVirtual }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 centercontent">
                                                        <i class="fas fa-circle" style="color: #80CC0E;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p>Saldo Cantado</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="card cardColorPopOver">
                                                            <p class="lblCenter">{{ item.saldoCantado }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 centercontent">
                                                        <i class="fas fa-circle" style="color: #D5D1D6;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p>Saldo Acumulado</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="card cardColorPopOver">
                                                            <p class="lblCenter">{{ item.saldoAcomulado }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 centercontent">
                                                        <i class="fas fa-circle" style="color: #000000;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </td>
                            <td><p class="text-center labelGrid">{{ item.saldoPromedio }}</p></td>
                            <td [mdbPopover]="PopOverProdGerente" placement="bottom" triggers="focus" mdbWavesEffect>
                                <div class="card cardColorPopOver">
                                    <p class="text-center labelGrid">{{ item.productividadEsp }}</p>
                                </div>
                                <ng-template #PopOverProdGerente>
                                    <div>
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img width="50px" height="50px" class="rounded-circle" src="{{ item.foto }}" alt="">
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="labelNombre">{{item.nombre}}</p>
                                                        <p class="labelApellido">{{item.apellido}}</p>
                                                        <p class="labelSucursal">{{item.nombreSuc}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4" style="margin: 0px; padding: 0px;">
                                                <div class="row" style="padding: 0px;">
                                                    <div class="col-3" style="margin: 0px; margin-top: 5px;">
                                                        <img  src="assets/img/detalleLupa.png">
                                                    </div>
                                                    <div class="col" style="text-align: left;">
                                                        <p style="margin: 0px; margin-top: 5px; font-size: 10px;">Detalle Especialistas</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="border" style="width: 100%; margin: 10px;"></span>
                                            <div class="col-12" *ngFor="let item2 of item.productividadEsps">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="text-center font-weight-bold">{{ item2.rangos }}</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="card cardColorPopOver">
                                                            <p class="lblCenter">{{ item2.especialistas }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 centercontent">
                                                        <i class="fas fa-circle" [ngStyle]="{'color': item2.color}"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </td>
                            <td><p class="text-center labelGrid">{{ item.mejorSaldo }}</p></td>
                            <td><p class="text-center labelGrid">{{ item.periodo }}</p></td>
                            <td class="text-center labelGrid" [ngStyle]="{'color': (item.imgFlecha) ? '#80CC0E' : '#FF1D25'}"><i class="fas fa-arrow-{{ item.imgFlecha ? 'up' : 'down'}}"></i> {{ item.desempeno }}</td>
                            <td><p class="text-center labelGrid">{{ item.diagnostico }}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>