<div class="row mt-4">
    <div class="card col cardMediana">
        <div class="card-body">
            <div class="row table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center">
                    <tr>
                        <th scope="col" class="text-white" style="background-color: #275D38;">Consulta Semanal</th>
                        <th scope="col">LU</th>
                        <th scope="col">MA</th>
                        <th scope="col">MI</th>
                        <th scope="col">JU</th>
                        <th scope="col">VI</th>
                        <th scope="col">SA</th>
                        <th scope="col">DO</th>
                        <th scope="col" style="color: white; background-color: #DE9401;">Total</th>
                        <th scope="col" style="color: white; background-color: #DE9401;">Faltante</th>
                        <th scope="col" style="color: white; background-color: #DE9401;">Meta</th>
                        <th scope="col" style="color: white; background-color: #C78400;">FCT Inactivo</th>
                        <th scope="col" style="color: white; background-color: #C78400;">FCT Activo</th>
                        <th scope="col" style="color: white; background-color: #C78400;">Saldos menores 40K</th>
                        <th scope="col" style="color: white; background-color: #C78400;">Total Folios Cert.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Camilo</th>
                        <td>345</td>
                        <td>34</td>
                        <td>89</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: #FF00001A;">0</td>
                        <td>40</td>
                        <td>70</td>
                        <td></td>
                        <td>1</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Richo</th>
                        <td>78</td>
                        <td></td>
                        <td>6</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: #FF00001A;">120</td>
                        <td>40</td>
                        <td>70</td>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Diego</th>
                        <td>67</td>
                        <td>78</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: #FF00001A;">120</td>
                        <td>40</td>
                        <td>100</td>
                        <td>1</td>
                        <td>1</td>
                        <td></td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <th scope="row">Rafa</th>
                        <td>10</td>
                        <td></td>
                        <td>100</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: #FFA40033;">220</td>
                        <td>175</td>
                        <td>170</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th scope="row">Alex</th>
                        <td>13</td>
                        <td>40</td>
                        <td>70</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: #64A70B33;">318</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>