<div class="row mt-4">
    <div class="card col cardMediana">
        <div class="card-body">
            <div class="row table-responsive" id="tblDiaria">
                <table *ngIf="productividadDiaria" class="table table-bordered" >
                    <thead class="text-center">
                    <tr>
                        <th scope="col" class="text-white" style="background-color: #275D38;">Consulta Diaria</th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">LU</p><p class="dia" style="margin: 0px; padding: 0px;">{{productividadDiaria.resultFechas.fechaLunes}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">MA</p><p class="dia" style="margin: 0px; padding: 0px;">{{productividadDiaria.resultFechas.fechaMartes}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">MI</p><p class="dia" style="margin: 0px; padding: 0px;">{{productividadDiaria.resultFechas.fechaMiercoles}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">JU</p><p class="dia" style="margin: 0px; padding: 0px;">{{productividadDiaria.resultFechas.fechaJueves}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">VI</p><p class="dia" style="margin: 0px; padding: 0px;">{{productividadDiaria.resultFechas.fechaViernes}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">SA</p><p class="dia" style="margin: 0px; padding: 0px;">{{productividadDiaria.resultFechas.fechaSabado}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">DO</p><p class="dia" style="margin: 0px; padding: 0px;">{{productividadDiaria.resultFechas.fechaDomingo}}</p></th>
                        <th scope="col" style="color: white; background-color: #DE9401;">Total</th>
                        <th scope="col" style="color: white; background-color: #DE9401;">Faltante</th>
                        <th scope="col" style="color: white; background-color: #DE9401;">Meta</th>
                        <th scope="col" style="color: white; background-color: #C78400;">FCT Inactivo</th>
                        <th scope="col" style="color: white; background-color: #C78400;">FCT Activo</th>
                        <th scope="col" style="color: white; background-color: #C78400;">Saldos menores 40K</th>
                        <th scope="col" style="color: white; background-color: #C78400;">Total Folios Cert.</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productividadDiaria.resultDatos">
                            <th scope="row">{{item.nombreCompletoAP}}</th>
                            <td>{{item.saldoVirtualLunes}}</td>
                            <td>{{item.saldoVirtualMartes}}</td>
                            <td>{{item.saldoVirtualMiercoles}}</td>
                            <td>{{item.saldoVirtualJueves}}</td>
                            <td>{{item.saldoVirtualViernes}}</td>
                            <td>{{item.saldoVirtualSabado}}</td>
                            <td>{{item.saldoVirtualDomingo}}</td>
                            <td [ngStyle]="{'background-color': item.indicadorSaldoMeta}">{{item.saldoVirtualSemana}}</td>
                            <td>{{item.saldoVirtualFaltante}}</td>
                            <td>{{item.metaSemana}}</td>
                            <td>{{item.fctInactivos}}</td>
                            <td>{{item.fctActivos}}</td>
                            <td>{{item.foliosMenores30k}}</td>
                            <td>{{item.foliosCertificados}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row table-responsive" style="display: none;" id="tblSemanal">
                <table *ngIf="ProductividadSemanal" class="table table-bordered">
                    <thead class="text-center">
                    <tr>
                        <th scope="col" class="text-white" style="background-color: #275D38;">Consulta Semanal</th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">SEM</p><p class="dia" style="margin: 0px; padding: 0px;">{{ProductividadSemanal.resultSemanas.semana1}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">SEM</p><p class="dia" style="margin: 0px; padding: 0px;">{{ProductividadSemanal.resultSemanas.semana2}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">SEM</p><p class="dia" style="margin: 0px; padding: 0px;">{{ProductividadSemanal.resultSemanas.semana3}}</p></th>
                        <th scope="col"><p style="margin: 0px; padding: 0px;">SEM</p><p class="dia" style="margin: 0px; padding: 0px;">{{ProductividadSemanal.resultSemanas.semana4}}</p></th>
                        <th scope="col" style="color: white; background-color: #DE9401;">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ProductividadSemanal.resultDatos">
                            <th scope="row">{{item.nombreCompletoAP}}</th>
                            <td [ngStyle]="{'background-color': item.indicadorSaldoMetaSem1}">{{item.saldoVirtualSemana1}}</td>
                            <td [ngStyle]="{'background-color': item.indicadorSaldoMetaSem2}">{{item.saldoVirtualSemana2}}</td>
                            <td [ngStyle]="{'background-color': item.indicadorSaldoMetaSem3}">{{item.saldoVirtualSemana3}}</td>
                            <td [ngStyle]="{'background-color': item.indicadorSaldoMetaSem4}">{{item.saldoVirtualSemana4}}</td>
                            <td [ngStyle]="{'background-color': item.indicadorSaldoMetaTetra}">{{item.saldoVirtualTetrasemana}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ ProductividadSemanal.resultSemanasTotal.semana1Total }}</td>
                            <td>{{ ProductividadSemanal.resultSemanasTotal.semana2Total }}</td>
                            <td>{{ ProductividadSemanal.resultSemanasTotal.semana3Total }}</td>
                            <td>{{ ProductividadSemanal.resultSemanasTotal.semana4Total }}</td>
                            <td>{{ ProductividadSemanal.resultTotal.saldoVirtualTotal }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>