<div class="ml-4 mr-4 mb-4">
    <div class="row">
        <div class="card col">
            <div *ngIf='headerDirectorComercial' class="row">
                <div class="col-lg-3 col-12 text-left" style="background-color: #80CC0E; padding: 0px;">
                    <div class="row">
                        <div class="col-4 text-center imgMP">
                            <img width="100px" height="100px" 
                                style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px;" 
                                class="rounded-circle imgperfil" src="{{headerDirectorComercial.foto}}" alt="">
                        </div>
                        <div class="col-8">
                            <div class="card-body bodynombre">
                                <p class="labelNombre">{{headerDirectorComercial.nombre}}</p>
                                <p class="labelApellido">{{headerDirectorComercial.apellido}}</p>
                                <!-- <p class="labelSucursal">Monterrey 11</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div  class="row">
                        <div class="col-lg col-6 text-center">
                            <p class="valores">{{headerDirectorComercial.saldoAcumulado}}</p>
                            <p class="lblTitulos">
                                Saldo Acumulado
                            </p>
                        </div>
                        <div class="col-lg col-6 text-center">
                            <p class="valores">{{headerDirectorComercial.saldoVirtual}}</p>
                            <p class="lblTitulos">
                                Saldo Virtual
                            </p>
                        </div>
                        <div class="col-lg col-6 text-center">
                            <p class="valores">{{headerDirectorComercial.saldoCantado}}</p>
                            <p class="lblTitulos">
                                Saldo Cantado
                            </p>
                            
                        </div>
                        <div class="col-lg col-6 text-center" >
                            <p class="valores" [ngStyle]="{'color': (headerDirectorComercial.desempenoVentaActivo) ? '#80CC0E' : '#FF1D25'}">
                                <i class="fas fa-arrow-{{ (headerDirectorComercial.desempenoVentaActivo) ? 'up' : 'down'}}"></i>
                                {{headerDirectorComercial.desempenoVenta}}
                            </p>
                            <p class="lblTitulos">
                                Desempeño Venta
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>