<div class="ml-4 mr-4 mb-4">
    <div class="row">
        <div class="card col">
            <div class="row">
                <div class="col-lg-3 col-12 text-left" style="background-color: #80CC0E; padding: 0px;">
                    <div class="row">
                        <div class="col-4 text-center imgMP">
                            <img width="100px" height="100px" 
                                style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px;" 
                                class="rounded-circle imgperfil" src="assets\img\capi_circulo.png" alt="">
                        </div>
                        <div class="col-8">
                            <div class="card-body bodynombre">
                                <p class="labelNombre">Rafael Humberto</p>
                                <p class="labelApellido">Chiu</p>
                                <!-- <p class="labelSucursal">Monterrey 11</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div  class="row">
                        <div class="col-lg col-6 text-center">
                            <p class="valores">$1.2M</p>
                            <p class="lblTitulos">
                                Productivos
                            </p>
                        </div>
                        <div class="col-lg col-6 text-center">
                            <p class="valores">$1.2M</p>
                            <p class="lblTitulos">
                                Saldo Promedio
                            </p>
                        </div>
                        <div class="col-lg col-6 text-center">
                            <p class="valores">$1.2M</p>
                            <p class="lblTitulos">
                                FCT
                            </p>
                            
                        </div>
                        <div class="col-lg col-6 text-center">
                            <p class="valores" style="color: green;">
                                <i class="fas fa-arrow-up"></i>
                                10%
                            </p>
                            <p class="lblTitulos">
                                Total Traspasos
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>