/* You can add global styles to this file, and also import other style files */
#login .container #login-row #login-column #login-box {
    margin-top: 30px;
    max-width: 500px;
    max-height: 550px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    align-content: center;
  }
#login .login-row-footer .img-fluid {
  margin-left: 10px;
}
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  h3.login-title {
      color: #2F6F43;
  }
  .login-row-footer{
    align-content: center;
  }
  input.login-input{
      color: #4D4D4D;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #E8E8E8;
      border-radius: 10px;
      opacity: 1;
      font: normal normal normal Calibri;
  }
  label.login-label{
      color:#4D4D4D;
      font: normal normal normal Calibri;
  }
  label.login-label-check{
    color:#4D4D4D;
    margin-left: 10px;
    font: normal normal normal Calibri;
  }
  label.login-footer{
    text-align: left;
    font: normal normal normal 12px/14px Calibri;
    letter-spacing: 0px;
    color: #4D4D4D;
    opacity: 1; 
    margin-top: 25px;
    margin-bottom: 25px;
  }
  ::placeholder.input-login{
    letter-spacing: 0px;
    color: #D5D1D6;
    opacity: 1;
    text-align: left;
  }
  button.login-btn{
      background-color: #2F6F43;
      color: #FFFFFF;
      transition-duration: 0.4s;
      border-radius: 15px;
  }
  .login-btn:hover{
      opacity: 90%;
      color:#FFFFFF;
  }

  /* Customize the label (the container) */
.custom-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #4D4D4D;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #FFFFFF 0% 0% no-repeat padding-box;;
  border: 1px solid #E8E8E8;
  border-radius: 7px;
  opacity: 1;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
  background-color: #2F6F43;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #2F6F43;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #2F6F43;
  outline: 0 none;
}