
.card-radius{
    border-radius: 10px ;
    width: 100%;
    /* margin-top: -15px; */
}
.papading{
    padding: 3px;
    vertical-align: middle;
}
.bntImg{
    width: 66px;
    height: 66px;
    box-shadow: 2px 2px 4px #bababa;
}
.lblDescipcionBtn{
    font-size: 16px;
}
.btnImgGroup{
    padding: 2px;
}
@media only screen and (max-device-width: 1550px) {
    .bntImg{
        width: 50px;
        height: 50px;
    }
    .lblDescipcionBtn{
        font-size: 14px;
    }
}

@media only screen and (max-device-width: 1300px) {
    .bntImg{
        width: 50px;
        height: 50px;
    }
    .lblDescipcionBtn{
        font-size: 12px;
    }
}

@media only screen and (max-device-width: 489px) {
    .bntImg{
        width: 66px;
        height: 66px;
    }
    .bntImg{
        width: 55px;
        height: 55px;
    }

    
    .lblDescipcionBtn{
        font-size: 12px;
    }
}