
.card-radius{
    border-radius: 10px ;
    width: 100%;
    /* margin-top: -15px; */
}
.papading{
    padding: 3px;
    vertical-align: middle;
}
.bntImg{
    width: 66px;
    height: 66px;
    box-shadow: 2px 2px 4px #bababa;
}
.lblDescipcionBtn{
    font-size: 16px;
}
.btnImgGroup{
    padding: 2px;
}
.lblNumEspecialistas{
    font-size: 21px;
}
@media only screen and (max-device-width: 1591px) {
    .bntImg{
        width: 50px;
        height: 50px;
    }
    .lblDescipcionBtn{
        font-size: 14px;
    }
}
@media only screen and (max-device-width: 1491px) {
    .lblDescipcionBtn{
        font-size: 13px;
    }    
}

@media only screen and (max-device-width: 1300px) {
    .bntImg{
        width: 50px;
        height: 50px;
    }
    .lblDescipcionBtn{
        font-size: 12px;
    }
    .lblNumEspecialistas{
        font-size: 18px;
    }
    .lblDescipcionMR{
        font-size: 15px;
    }
    .imgMR{
        width: 60px;
    }
}

@media only screen and (max-device-width: 1250px) {
    .bntImg{
        width: 35px;
        height: 35px;
    }
    .lblDescipcionBtn{
        font-size: 11px;
    }
    .imgMR{
        width: 45px;
    }
    .lblNumEspecialistas{
        font-size: 12px;
    }
    .lblDescipcionMR{
        font-size: 11px;
    }
}

@media only screen and (max-device-width: 489px) {

    .bntImg{
        width: 55px;
        height: 55px;
    }
    
    .lblDescipcionBtn{
        font-size: 12px;
    }
    .lblNumEspecialistas{
        font-size: 16px;
    }
}