<div class="row pr-3 pl-3">
    <div class="card card-radius">
        <div class="card-body">
            <div class="row"> 
                <div class="col">
                    <p class="card-title font-weight-bold">Visor Líder Comercial</p>
                </div>
            </div>
            <div class="row mt-1 text-center"> 
                <div class="col-6 col-xl-3 btnImgGroup">
                    <a href="#/home/productividadAgentes">
                        <img class="mx-auto d-block rounded-circle bntImg" src="assets/img/btn-productividad.png">
                        <label class="lblDescipcionBtn">Productividad</label>
                    </a>
                </div>
                <div class="col-6 col-xl-3 btnImgGroup">
                    <a href="#/home/pizarronDigital">
                        <img class="mx-auto d-block rounded-circle bntImg" src="assets/img/btn-pizarron.png">
                        <label class="lblDescipcionBtn">Pizarrón</label>
                    </a>
                </div>
                <div class="col-6 col-xl-3 btnImgGroup">
                    <img class="mx-auto d-block rounded-circle bntImg" src="assets/img/btn-alarmas.png">
                    <label class="lblDescipcionBtn">Alarmas</label>
                </div>
                <div class="col-6 col-xl-3 btnImgGroup">
                    <img class="mx-auto d-block rounded-circle bntImg" src="assets/img/btn-ranking.png">
                    <label class="lblDescipcionBtn">Ranking</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 pr-3 pl-3">
    <div class="card card-radius">
        <div class="card-body font-weight-bold" style="height: 105px;">
            <div class="row">
                <div class="col-3">
                    <img class="mx-auto d-block imgMR" src="assets/img/especialistas-alert.png">
                </div>
                <div class="col-3 text-center align-middle ">
                    <p class="mt-3 lblNumEspecialistas">
                        <span *ngIf="relevante" class="align-middle">{{ relevante.numEspecialistasMR + '/' + relevante.numEspecialistas  }}</span>
                    </p>
                </div>
                <div class="col-6">
                    <p class="mt-2 lblDescipcionMR">Especialistas con marca de Riesgo</p>
                </div>
            </div>            
        </div>
    </div>
</div>