<div class="row">
    <div class="card card-radius">
        <div class="card-body">
            <div class="row"> 
                <div class="col">
                    <p class="card-title font-weight-bold">Visor Líder Comercial</p>
                </div>
            </div>
            <div class="row mt-1 text-center"> 
                <div class="col">
                    <img style="box-shadow: 2px 2px 4px #bababa" class="mx-auto d-block rounded-circle" src="assets/img/btn-productividad.png">
                    Productividad
                </div>
                <div class="col">
                    <img style="box-shadow: 2px 2px 4px #bababa" class="mx-auto d-block rounded-circle" src="assets/img/btn-pizarron.png">
                    Pizarrón
                </div>
                <div class="col">
                    <img style="box-shadow: 2px 2px 4px #bababa" class="mx-auto d-block rounded-circle" src="assets/img/btn-alarmas.png">
                    Alarmas
                </div>
                <div class="col">
                    <img style="box-shadow: 2px 2px 4px #bababa" class="mx-auto d-block rounded-circle" src="assets/img/btn-ranking.png">
                    Ranking
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="card card-radius">
        <div class="card-body font-weight-bold">
            <div class="row">
                <div class="col-3">
                    <img class="mx-auto d-block" src="assets/img/especialistas-alert.png">
                </div>
                <div class="col-3 text-center align-middle">
                    <span class="align-middle">1/18</span>
                </div>
                <div class="col-6">
                    <p>Especialista con marca de Riesgo</p>
                </div>
            </div>            
        </div>
    </div>
</div>