.navbar {
    margin-top: 30px;
    border-radius: 10px;
    border: solid 1px #d6d6d6;
    background-color: #fff;
}
.active{
    background-color: #80CC0E;
    color: #fff;
    border-radius: 10px;
}
.text-a{
    color: #4D4D4D;
}
a.active{
    color: #fff;
}
ul {
    text-align: center;  
}
li{
    width: 250px; 
    margin: 0px 4px 0px 4px;
}
.separator {
    border-left: solid 1px #d6d6d6;
}
.last {
    border-right: solid 1px #d6d6d6;
}

@media (max-width: 1384px) {
    li{
        width: 230px; 
    } 
}

@media (max-width: 1284px) {
    li{
        width: 210px; 
        margin: 0px 3px 0px 3px;
    }
    a{
        font-size: 15px;
    }
}

@media (max-width: 1184px) {
    li{
        width: 195px; 
        margin: 0px 2px 0px 2px;
    }
    a{
        font-size: 14px;
    }
}

@media (max-width: 1084px) {
    li{
        width: 190px; 
        margin: 0px 2px 0px 2px;
    }
    a{
        font-size: 13px;
    }
}
@media (max-width: 1084px) {
    li{
        width: 185px; 
        margin: 0px 2px 0px 2px;
    }
    a{
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    ul {
      text-align: left;  
    }
    .active {
        border-radius: 0px;
    }
    .separator {
        border-left: solid 0px;
    }
    .last {
        border-right: solid 0px;
    }
}