.navbar {
    margin-top: 30px;
    border-radius: 10px;
    border: solid 1px #d6d6d6;
    background-color: #fff;
}
.active{
    background-color: #80CC0E;
    color: #fff;
    border-radius: 10px;
}
.text-a{
    color: #4D4D4D;
}
a.active{
    color: #fff;
}
ul {
    text-align: center;  
}
li{
    width: 250px; 
    margin: 0px 4px 0px 4px;
}
.separator {
    border-left: solid 1px #d6d6d6;
}

@media (max-width: 991px) {
    ul {
      text-align: left;  
    }
    .active {
        border-radius: 0px;
    }
    .separator {
        border-left: solid 0px;
    }
}